{% extends "frlsim/base.html" %}

{% block head %}
<title>About | Hunter COVID-19 Data</title>
<meta property="og:title" content="About | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/about/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">About</div>
</div>

<h1>About</h1>

<p>Hunter COVID-19 Data is a website that collates all the COVID-19 data relevant to the Hunter Valley onto a single website with visualisations to make it easier to digest. The website was set up during the Hunter's Delta variant outbreak and is maintained by Bryce Ham (<a href="https://twitter.com/_BryceHam">@_BryceHam</a>).</p>

<h2>FAQs</h2>
<div class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Why do you do it?
  </div>
  <div class="content">
      <p class="transition hidden">I created this site because I'm a fan of data visualisations and had a lot of free time during lockdown. I found that there was a lack of Hunter-specific COVID-19 data available unless you dived deep into spreadsheets so I created this site and started sharing graphs on Twitter to make it easier to understand the COVID situation in the Hunter Valley.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Where do you source the data?
  </div>
  <div class="content">
      <p class="transition hidden">Data on cases comes from Hunter New England Health's <a href="https://twitter.com/HNEHealth">Twitter</a> and <a href="https://www.facebook.com/HNEHealth">Facebook</a>.</p>
      <p class="transition hidden">Testing data comes from NSW Health's <a href="https://data.nsw.gov.au/nsw-covid-19-data/tests">tests data spreadsheet</a> which is sorted by myself to only include the 10 Hunter LGAs.</p>
      <p class="transition hidden">Vaccination data comes from the federal Department of Health's <a href="https://www.health.gov.au/resources/collections/covid-19-vaccination-geographic-vaccination-rates">geographic vaccination rates collection</a> which is sorted by myself to only include the 10 Hunter LGAs.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How can I support you?
  </div>
  <div class="content">
      <p class="transition hidden">I keep this website updated in my free time so if you want to support me in doing so and help me justify spending more time on it, you can leave me a <a href="https://ko-fi.com/bryce_ham">tip on Ko-fi</a>.</p>
  </div>
</div>

<script>
        $('.ui.accordion').accordion();
</script>
{% endblock %}