<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/accordion.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
		
		<script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJS2TF6SN7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JJS2TF6SN7');
    </script>

		{% block head %}
		{% endblock %}
		<meta property="og:type" content="website"/>
    <meta property="og:image" content="https://covid.bryce.eco/images/covid.jpeg"/>
    <meta property="og:description" content="A collation of COVID-19 data specific to the Hunter Valley region."/>
		<meta name="theme-color" content="#292769">
		<meta name="twitter:card" content="summary">
		
	</head>
<body>
<!-- Sidebar Menu -->
<div class="ui sidebar vertical inverted menu thin left">
  <a class="header item" href="/">Home</a>
  <a class="item" href="/cases/">Cases</a>
            <a class="item" href="/testing/">Testing</a>
            <!--<a class="item" href="/vaccination/">Vaccination</a>-->
            <a class="item" href="/lgas/">LGA Breakdowns</a>
            <a class="item" href="/about/">About</a>
</div>
<!-- Following Menu -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui fixed inverted menu" style="margin-right: 1.5em;background-color:#292769;">
			<div class="ui container">
        <a class="toc item">
          <i class="sidebar icon" style="font-size:1.5em"></i>
        </a>
        <a class="header item" href="/">Hunter COVID-19 Data</a>
        <a class="item" href="/cases/">Cases</a>
            <a class="item" href="/testing/">Testing</a>
            <!--<a class="item" href="/vaccination/">Vaccination</a>-->
            <a class="item" href="/lgas/">LGA Breakdowns</a>
            <a class="item" href="/about/">About</a>
			</div>
		</div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/sidebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/visibility.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/transition.js"></script>
		<script>
    $(document)
    .ready(function() {

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    });
    </script>
  <style>   
  .hidden.menu {
      display: none;
    }

    .masthead.segment {
      padding: 1em 0;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
 
    .ui.vertical.stripe {
      padding: 8em 0;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0;
    }

    .quote.stripe.segment {
      padding: 0;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 3em 0;
    }

    .fixed.inverted.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .fixed.inverted.menu .item {
        display: none;
      }
    .fixed.inverted.menu .toc.item {
      display: block; !important
    }
    }
</style>
		{% block hero %}
		{% endblock %}
		<div class="ui main text container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
			{% block content %}
			{% endblock %}
		</div>
		<div class="ui inverted vertical footer segment">
    <div class="ui main text container" style="margin-top:1.5em;margin-bottom:1.5em">
          <p>This website is maintained by Bryce Ham (<a href="https://twitter.com/_BryceHam">@_BryceHam</a>). The data is collected from HNE Health's official social media pages and NSW Health. Please contact me on Twitter if you find any errors!</p>
    </div>
  </div>
</div>
</html>

