{% extends "frlsim/base.html" %}

{% block head %}
<title>Cases | Hunter COVID-19 Data</title>
<meta property="og:title" content="Cases | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/cases/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Cases</div>
</div>

<h1>Cases</h1>
<p><i>Last updated: Sunday 19 December, 2021 at 13:45</i></p>

<h2>Daily new cases</h2>
<div class="flourish-embed flourish-chart" data-src="visualisation/8122550"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<h2>Hospitalised cases</h2>
<div class="flourish-embed flourish-chart" data-src="visualisation/7298537"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<div class="ui accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    <strong>Close contacts in isolation (no new data since 1 October)</strong>
  </div>
  <div class="content">
        <div class="transition hidden flourish-embed flourish-chart" data-src="visualisation/7298542"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>
</div>

<h2>Individual case details</h2>
<p><i>An asterisk (*) represents a case that has been excluded upon further investigation but was reported in the intial announcement that day.</i></p>
<div class="ui styled accordion">
                    <div class="title">
    <i class="dropdown icon"></i>
    8 November (40 new cases)
  </div>
  <div class="content">
<p class="transition hidden">13 are from Mid-Coast LGA:<ul><li>9 in Taree</li><li>1 in Bootawa</li><li>1 in Diamond Beach</li><li>1 in Old Bar</li><li>1 in Tuncurry</li></ul></p>
<p class="transition hidden">9 are from Lake Macquarie LGA:<ul><li>4 in Windale</li><li>3 in Belmont North</li><li>1 in Caves Beach</li><li>1 in Glendale</li></ul></p>
<p class="transition hidden">7 are from Newcastle LGA:<ul><li>2 in Jesmond</li><li>1 in Adamstown Heights</li><li>1 in Georgetown</li><li>1 in Hamilton South</li><li>1 in Maryland</li><li>1 in North Lambton</li></ul></p>
<p class="transition hidden">4 are from Inverell LGA:<ul><li>4 in Inverell</li></ul></p>
<p class="transition hidden">3 are from Maitland LGA:<ul><li>1 in East Maitland</li><li>1 in Maitland</li><li>1 in Telarah</li></ul></p>
<p class="transition hidden">2 are from Moree Plains LGA:<ul><li>2 in Moree</li></ul></p>
<p class="transition hidden">2 are from Tamworth LGA:<ul><li>2 in Tamworth</li></ul></p>
<p class="transition hidden">1 is from Port Stephens LGA:<ul><li>1 in Boat Harbour</li></ul></p>
  </div>
                <div class="title">
    <i class="dropdown icon"></i>
    7 November (77 new cases)
  </div>
  <div class="content">
<p class="transition hidden">23 are from Inverell LGA:<ul><li>14 in Tingha</li><li>9 in Inverell</li></ul></p>
<p class="transition hidden">17 are from Moree Plains LGA:<ul><li>17 in Moree</li></ul></p>
<p class="transition hidden">8 are from Tamworth LGA:<ul><li>4 in Tamworth</li><li>2 in East Tamworth</li><li>1 in Manilla</li><li>1 in Oxley Vale</li></ul></p>
<p class="transition hidden">7 are from Cessnock LGA:<ul><li>3 in Weston</li><li>2 in Cessnock</li><li>1 in Abermain</li><li>1 in Nulkaba</li></ul></p>
<p class="transition hidden">7 are from Newcastle LGA:<ul><li>2 in Jesmond</li><li>1 in Adamstown Heights</li><li>1 in Georgetown</li><li>1 in Hamilton South</li><li>1 in Maryland</li><li>1 in North Lambton</li></ul></p>
<p class="transition hidden">5 are from Lake Macquarie LGA:<ul><li>1 in Belmont North</li><li>1 in Buttaba</li><li>1 in Fassifern</li><li>1 in Jewells</li><li>1 in Windale</li></ul></p>
<p class="transition hidden">5 are from Port Stephens LGA:<ul><li>1 in Anna Bay</li><li>1 in Medowie</li><li>1 in Nelson Bay</li><li>1 in Raymond Terrace</li><li>1 in Shoal Bay</li></ul></p>
<p class="transition hidden">2 are from Armidale LGA:<ul><li>2 in Armidale</li></ul></p>
<p class="transition hidden">2 are from Maitland LGA:<ul><li>2 in Woodberry</li></ul></p>
<p class="transition hidden">1 is from Mid-Coast LGA:<ul><li>1 in Purfleet</li></ul></p>
  </div>
            <div class="title">
    <i class="dropdown icon"></i>
    6 November (73 new cases)
  </div>
  <div class="content">
<p class="transition hidden">21 are from Inverell LGA:<ul><li>11 in Inverell</li><li>8 in Tingha</li><li>1 in Delungra</li><li>1 in Ashford</li></ul></p>
<p class="transition hidden">20 are from Moree Plains LGA:<ul><li>18 in Moree</li><li>1 in Boggabilla</li><li>1 in Ashley</li></ul></p>
<p class="transition hidden">7 are from Newcastle LGA:<ul><li>2 in Sandgate</li><li>1 in Hamilton East</li><li>1 in Jesmond</li><li>1 in Maryville</li><li>1 in Mayfield</li><li>1 in Stockton</li></ul></p>
<p class="transition hidden">5 are from Lake Macquarie LGA:<ul><li>1 in Cameron Park</li><li>1 in Cardiff</li><li>1 in Jewells</li><li>1 in West Wallsend</li><li>1 in Windale</li></ul></p>
<p class="transition hidden">4 are from Cessnock LGA:<ul><li>2 in Weston</li><li>1 in Cessnock</li><li>1 in Bellbird</li></ul></p>
<p class="transition hidden">4 are from Maitland LGA:<ul><li>2 in East Maitland</li><li>2 in Gillieston Heights</li></ul></p>
<p class="transition hidden">4 are from Tamworth LGA:<ul><li>3 in Tamworth</li><li>1 in Hillvue</li></ul></p>
<p class="transition hidden">3 are from Mid-Coast LGA:<ul><li>1 in Purfleet</li><li>1 in Taree</li><li>1 in Tuncurry</li></ul></p>
<p class="transition hidden">3 are from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li><li>1 in Boat Harbour</li><li>1 in Medowie</li></ul></p>
<p class="transition hidden">2 are from Armidale LGA:<ul><li>2 in Armidale</li></ul></p>
  </div>
        <div class="title">
    <i class="dropdown icon"></i>
    5 November (73 new cases)
  </div>
  <div class="content">
<p class="transition hidden">15 are from Moree Plains LGA:<ul><li>12 in Moree</li><li>1 in Boggabilla</li><li>1 in Garah</li><li>1 in Pallamallawa</li></ul></p>
<p class="transition hidden">15 are from Newcastle LGA:<ul><li>4 in Shortland</li><li>2 in North Lambton</li><li>2 in Birmingham Gardens</li><li>2 in Fletcher</li><li>2 in Mayfield</li><li>1 in Adamstown</li><li>1 in Hamilton</li><li>1 in New Lambton</li></ul></p>
<p class="transition hidden">14 are from Mid-Coast LGA:<ul><li>8 in Taree</li><li>3 in Tuncurry</li><li>2 in Purfleet</li><li>1 in Tea Gardens</li></ul></p>
<p class="transition hidden">7 are from Lake Macquarie LGA:<ul><li>3 in Windale</li><li>1 in Belmont North</li><li>1 in Fassifern</li><li>1 in Jewells</li><li>1 in Speers Point</li></ul></p>
<p class="transition hidden">6 are from Tamworth LGA:<ul><li>4 in West Tamworth</li><li>1 in Tamworth</li><li>1 in Tamworth South</li></ul></p>
<p class="transition hidden">6 are from Cessnock LGA:<ul><li>3 in Cessnock</li><li>2 in Rothbury</li><li>1 in Bellbird</li></ul></p>
<p class="transition hidden">4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Nelson Bay</li><li>1 in Tomago</li></ul></p>
<p class="transition hidden">3 are from Inverell LGA:<ul><li>2 in Tingha</li><li>1 in Inverell</li></ul></p>
<p class="transition hidden">1 is from Armidale LGA:<ul><li>1 in Armidale</li></ul></p>
<p class="transition hidden">1 is from Maitland LGA:<ul><li>1 in Rutherford</li></ul></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Darlington</li></ul></p>
  </div>
    <div class="title">
    <i class="dropdown icon"></i>
    4 November (103 new cases)
  </div>
  <div class="content">
<p class="transition hidden">33 are from Moree Plains LGA:<ul><li>30 in Moree</li><li>2 in Boggabilla</li><li>1 in Mungindi</li></ul></p>
<p class="transition hidden">16 are from Mid-Coast LGA:<ul><li>6 in Taree</li><li>6 in Tuncurry</li><li>2 in Harrington</li><li>1 in Old Bar</li><li>1 in Tea Gardens</li></ul></p>
<p class="transition hidden">11 are from Port Stephens LGA:<ul><li>5 in Anna Bay</li><li>4 in Raymond Terrace</li><li>1 in Boat Harbour</li><li>1 in Medowie</li></ul></p>
<p class="transition hidden">9 are from Tamworth LGA:<ul><li>3 in Oxley Vale</li><li>2 in Tamworth</li><li>2 in West Tamworth</li><li>1 in Hillvue</li><li>1 in Moonbi</li></ul></p>
<p class="transition hidden">9 are from Cessnock LGA:<ul><li>4 in Cessnock</li><li>2 in North Rothbury</li><li>1 in Abermain</li><li>1 in Heddon Greta</li><li>1 in Weston</li></ul></p>
<p class="transition hidden">9 are from Lake Macquarie LGA:<ul><li>3 in Windale</li><li>1 in Belmont North</li><li>1 in Buttaba</li><li>1 in Mount Hutton</li><li>1 in West Wallsend</li><li>1 in Whitebridge</li><li>1 in Freemans Waterhole</li></ul></p>
<p class="transition hidden">7 are from Inverell LGA:<ul><li>4 in Inverell</li><li>3 in Tingha</li></ul></p>
<p class="transition hidden">4 are from Newcastle LGA:<ul><li>1 in Adamstown Heights</li><li>1 in Hamilton South</li><li>1 in North Lambton</li><li>1 in Wallsend</li></ul></p>
<p class="transition hidden">2 are from Armidale LGA:<ul><li>2 in Armidale</li></ul></p>
<p class="transition hidden">2 are from Maitland LGA:<ul><li>1 in Gillieston Heights</li><li>1 in Rutherford</li></ul></p>
<p class="transition hidden">1 is from Dungog LGA:<ul><li>1 in Clarence Town</li></ul></p>
  </div>
                                                                <div class="title">
    <i class="dropdown icon"></i>
    3 November (35 new cases)
  </div>
  <div class="content">
<p class="transition hidden">7 are from Newcastle LGA:<ul><li>3 in Maryland</li><li>1 in Broadmeadow</li><li>1 in Hamilton South</li><li>1 in Jesmond</li><li>1 in Mayfield</li></ul></p>
<p class="transition hidden">6 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li><li>1 in Medowie</li><li>1 in Nelson Bay</li><li>1 in Tomago</li></ul></p>
<p class="transition hidden">6 are from Cessnock LGA:<ul><li>3 in Weston</li><li>2 in Ellalong</li><li>1 in Kurri Kurri</li></ul></p>
<p class="transition hidden">4 are from Lake Macquarie LGA:<ul><li>2 in Brightwaters</li><li>1 in Warners Bay</li><li>1 in Windale</li></ul></p>
<p class="transition hidden">4 are from Mid-Coast LGA:<ul><li>3 in Taree</li><li>1 in Tuncurry</li></ul></p>
<p class="transition hidden">2 are from Tamworth LGA:<ul><li>2 in Tamworth</li></ul></p>
<p class="transition hidden">2 are from Maitland LGA:<ul><li>1 in Pokolbin</li><li>1 in Telarah</li></ul></p>
<p class="transition hidden">1 is from Dungog LGA:<ul><li>1 in Martins Creek</li></ul></p>
<p class="transition hidden">1 is from Inverell LGA:<ul><li>1 in Inverell</li></ul></p>
<p class="transition hidden">1 is from Moree Plains LGA:<ul><li>1 in Moree</li></ul></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Singleton</li></ul></p>
  </div>
                                                            <div class="title">
    <i class="dropdown icon"></i>
    2 November (64 new cases)
  </div>
  <div class="content">
<p class="transition hidden">17 are from Lake Macquarie LGA:<ul><li>3 in Jewells</li><li>2 in Charlestown</li><li>2 in Toronto</li><li>1 in Belmont North</li><li>1 in Cardiff South</li><li>1 in Caves Beach</li><li>1 in Cooranbong</li><li>1 in Gateshead</li><li>1 in Morisset</li><li>1 in Swansea</li><li>1 in Wangi Wangi</li><li>1 in Whitebridge</li><li>1 in Windale</li></ul></p>
<p class="transition hidden">13 are from Newcastle LGA:<ul><li>5 in Maryland</li><li>4 in Fletcher</li><li>2 in Mayfield</li><li>1 in Adamstown</li><li>1 in Hamilton</li></ul></p>
<p class="transition hidden">12 are from Mid-Coast LGA:<ul><li>10 in Taree</li><li>1 in Forster</li><li>1 in Tuncurry</li></ul></p>
<p class="transition hidden">8 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li><li>2 in Anna Bay</li><li>1 in Mallabula</li><li>1 in Medowie</li><li>1 in Nelson Bay</li></ul></p>
<p class="transition hidden">5 are from Cessnock LGA:<ul><li>3 in Cessnock</li><li>1 in Kurri Kurri</li><li>1 in Weston</li></ul></p>
<p class="transition hidden">5 are from Maitland LGA:<ul><li>2 in Rutherford</li><li>1 in Gillieston Heights</li><li>1 in Morpeth</li><li>1 in South Maitland</li></ul></p>
<p class="transition hidden">3 are from Tamworth LGA:<ul><li>2 in South Tamworth</li><li>1 in Tamworth</li></ul></p>
<p class="transition hidden">1 is from Moree Plains LGA:<ul><li>1 in Moree</li></ul></p>
  </div>
                                                            <div class="title">
    <i class="dropdown icon"></i>
    1 November (30 new cases)
  </div>
  <div class="content">
<p class="transition hidden">9 are from Newcastle LGA:<ul><li>5 in Carrington</li><li>1 in Fletcher</li><li>1 in Hamilton South</li><li>1 in Jesmond</li><li>1 in Mayfield</li></ul></p>
<p class="transition hidden">8 are from Lake Macquarie LGA:<ul><li>2 in Tingira Heights</li><li>2 in Warners Bay</li><li>1 in Belmont North</li><li>1 in Charlestown</li><li>1 in Cooranbong</li><li>1 in Morisset</li></ul></p>
<p class="transition hidden">4 are from Cessnock LGA:<ul><li>2 in Cessnock</li><li>1 in Bellbird Heights</li><li>1 in Kearsley</li></ul></p>
<p class="transition hidden">4 are from Mid-Coast LGA:<ul><li>2 in Taree</li><li>1 in Forster</li><li>1 in Tea Gardens</li></ul></p>
<p class="transition hidden">2 are from Maitland LGA:<ul><li>1 in Luskintyre</li><li>1 in Chisholm</li></ul></p>
<p class="transition hidden">1 is from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li></ul></p>
<p class="transition hidden">1 is from Dungog LGA:<ul><li>1 in Hilldale</li></ul></p>
<p class="transition hidden">1 is from Tamworth LGA:<ul><li>1 in Calala</li></ul></p>
  </div>
                                                        <div class="title">
    <i class="dropdown icon"></i>
    31 October (33 new cases)
  </div>
  <div class="content">
<p class="transition hidden">11 are from Lake Macquarie LGA:<ul><li>4 in Jewells</li><li>2 in Blacksmiths</li><li>1 in Belmont North</li><li>1 in Cardiff</li><li>1 in Speers Point</li><li>1 in Warners Bay</li><li>1 in Windale</li></ul></p>
<p class="transition hidden">6 are from Newcastle LGA:<ul><li>2 in North Lambton</li><li>1 in Maryland</li><li>1 in Islington</li><li>1 in Elermore Vale</li></ul></p>
<p class="transition hidden">5 are from Maitland LGA:<ul><li>3 in Gillieston Heights</li><li>2 in East Maitland</li></ul></p>
<p class="transition hidden">5 are from Cessnock LGA:<ul><li>2 in Cessnock</li><li>1 in Greta</li><li>1 in Heddon Greta</li><li>1 in Kurri Kurri</li></ul></p>
<p class="transition hidden">4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>2 in Tanilba Bay</li></ul></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Stanhope</li></ul></p>
<p class="transition hidden">1 is from Tamworth LGA:<ul><li>1 in Tamworth</li></ul></p>
  </div>
                                                    <div class="title">
    <i class="dropdown icon"></i>
    30 October (73 new cases)
  </div>
  <div class="content">
<p class="transition hidden">19 are from Lake Macquarie LGA:<ul><li>5 in Cameron Park</li><li>3 in Cardiff</li><li>3 in Jewells</li><li>2 in Swansea</li><li>2 in Toronto</li><li>1 in Windale</li><li>1 in Teralba</li><li>1 in Killingworth</li><li>1 in Gateshead</li></ul></p> 
<p class="transition hidden">14 are from Mid-Coast LGA:<ul><li>11 in Taree</li><li>1 in Forster</li><li>1 in Nabiac</li><li>1 in Tuncurry</li></ul></p>
<p class="transition hidden">9 are from Tamworth LGA:<ul><li>4 in South Tamworth</li><li>3 in Tamworth</li><li>1 in West Tamworth</li><li>1 in Oxley Vale</li></ul></p>
<p class="transition hidden">8 are from Cessnock LGA:<ul><li>3 in Kurri Kurri</li><li>2 in Cessnock</li><li>1 in Ellalong</li><li>1 in Weston</li><li>1 in Heddon Greta</li></ul></p>
<p class="transition hidden">6 are from Maitland LGA:<ul><li>1 in Maitland</li><li>1 in East Maitland</li><li>1 in Gillieston Heights</li><li>1 in Metford</li><li>1 in Rutherford</li><li>1 in Tenambit</li></ul></p>
<p class="transition hidden">6 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li><li>1 in Soldiers Point</li><li>1 in Nelson Bay</li><li>1 in Karuah</li></ul></p>
<p class="transition hidden">5 are from Newcastle LGA:<ul><li>2 in Carrington</li><li>2 in Mayfield</li><li>1 in Wallsend</li></ul></p>
<p class="transition hidden">3 are from Armidale LGA:<ul><li>3 in Armidale</li></ul></p>
<p class="transition hidden">2 are from Singleton LGA:<ul><li>1 in Singleton</li><li>1 in St Clair</li></ul></p>
<p class="transition hidden">1 is from Inverell LGA:<ul><li>1 in Tingha</li></ul></p>
  </div>
                                                <div class="title">
    <i class="dropdown icon"></i>
    29 October (54 new cases)
  </div>
  <div class="content">
<p class="transition hidden">15 are from Newcastle LGA:<ul><li>4 in Hamilton South</li><li>3 in Wallsend</li><li>2 in Mayfield</li><li>2 in New Lambton</li><li>1 in Adamstown</li><li>1 in Carrington</li><li>1 in Islington</li><li>1 in Merewether</li></ul></p>
<p class="transition hidden">10 are from Mid-Coast LGA:<ul><li>5 in Taree</li><li>2 in Forster</li><li>2 in Tuncurry</li><li>1 in Tea Gardens</li></ul></p>
<p class="transition hidden">7 are from Lake Macquarie LGA:<ul><li>1 in Jewells</li><li>1 in Morisset</li><li>1 in Mount Hutton</li><li>1 in Redhead</li><li>1 in Swansea</li><li>1 in West Wallsend</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">6 are from Cessnock LGA:<ul><li>2 in Kearsley</li><li>1 in Cessnock</li><li>1 in Greta</li><li>1 in Kurri Kurri</li><li>1 in Neath</li></ul></p>
<p class="transition hidden">6 are from Tamworth LGA:<ul><li>5 in Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Anna Bay</li><li>1 in Heatherbrae</li></ul></p>
<p class="transition hidden">3 are from Maitland LGA:<ul><li>1 in Bolwarra  Heights</li><li>1 in Chisholm</li><li>1 in Rosebrook</li></ul></p>
<p class="transition hidden">2 are from Singleton LGA:<ul><li>1 in Darlington</li><li>1 in Hunterview</li></ul></p>
<p class="transition hidden">1 is from Armidale LGA:<ul><li>1 in Armidale</li></ul></p>
  </div>
                                            <div class="title">
    <i class="dropdown icon"></i>
    28 October (79 new cases)
  </div>
  <div class="content">
<p class="transition hidden">18 are from Lake Macquarie LGA:<ul><li>3 in Belmont North</li><li>3 in Valentine</li><li>2 in Toronto</li><li>1 in Windale</li><li>1 in Cameron Park</li><li>1 in Cardiff</li><li>1 in Morisset</li><li>1 in Swansea</li><li>1 in Tingira Heights</li><li>1 in Warners Bay</li><li>1 in Whitebridge</li><li>1 in Gateshead</li></ul></p> 
<p class="transition hidden">17 are from Newcastle LGA:<ul><li>3 in Mayfield</li><li>3 in North Lambton</li><li>2 in Elermore Vale</li><li>2 in Hamilton South</li><li>1 in Carrington</li><li>1 in Georgetown</li><li>1 in Maryville</li><li>1 in New Lambton</li><li>1 in Newcastle East</li><li>1 in The Hill</li><li>1 in Wallsend</li></ul></p>
<p class="transition hidden">11 are from Tamworth LGA:<ul><li>4 in East Tamworth</li><li>2 in South Tamworth</li><li>2 in West Tamworth</li><li>1 in Oxley Vale</li><li>1 in Tamworth</li><li>1 in Warral</li></ul></p>
<p class="transition hidden">8 are from Port Stephens LGA:<ul><li>5 in Raymond Terrace</li><li>1 in Mallabula</li><li>1 in Soldiers Point</li><li>1 in Tanilba Bay</li></ul></p>
<p class="transition hidden">7 are from Maitland LGA:<ul><li>4 in Woodberry</li><li>1 in East Maitland</li><li>1 in Maitland</li><li>1 in Tenambit</li></ul></p>
<p class="transition hidden">6 are from Cessnock LGA:<ul><li>3 in Kurri Kurri</li><li>2 in Cessnock</li><li>1 in Aberdare</li></ul></p>
<p class="transition hidden">5 are from Mid-Coast LGA:<ul><li>2 in Chatham</li><li>1 in Harrington</li><li>1 in Old Bar</li><li>1 in Taree</li></ul></p>
<p class="transition hidden">2 are from Dungog LGA:<ul><li>1 in Martins Creek</li><li>1 in Clarence Town</li></ul></p>
<p class="transition hidden">2 are from Moree Plains LGA:<ul><li>2 in Moree</li></ul></p>
<p class="transition hidden">1 is from Armidale LGA:<ul><li>1 in Armidale</li></ul></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Hunterview</li></ul></p>
<p class="transition hidden">1 is from Tenerfield LGA:<ul><li>1 in Tenterfield</li></ul></p>
  </div>
                                        <div class="title">
    <i class="dropdown icon"></i>
    27 October
  </div>
  <div class="content">
<p class="transition hidden">24 are from Newcastle LGA:<ul><li>7 in Carrington</li><li>6 in Mayfield</li><li>4 in Wallsend</li><li>3 in Mayfield West</li><li>1 in Adamstown Heights</li><li>1 in Black Hill</li><li>1 in Merewether</li><li>1 in Waratah</li></ul></p>
<p class="transition hidden">20 are from Cessnock LGA:<ul><li>12 in Kurri Kurri</li><li>5 in Cessnock</li><li>2 in Weston</li><li>1 in Bellbird Heights</li></ul></p>
<p class="transition hidden">11 are from Port Stephens LGA:<ul><li>10 in Raymond Terrace</li><li>1 in Nelson Bay</li></ul></p>
<p class="transition hidden">7 are from Lake Macquarie LGA:<ul><li>1 in Cardiff South</li><li>1 in Charlestown</li><li>1 in Jewells</li><li>1 in Macquarie Hills</li><li>1 in Morisset</li><li>1 in Toronto</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">6 are from Maitland LGA:<ul><li>2 in Rutherford</li><li>1 in Ashtonfield</li><li>1 in Morpeth</li><li>1 in Windella</li><li>1 in Woodberry</li></ul></p>
<p class="transition hidden">6 are from Tamworth LGA:<ul><li>4 in Tamworth</li><li>1 in South Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">5 are from Mid-Coast LGA:<ul><li>4 in Taree</li><li>1 in Forster</li></p>
<p class="transition hidden">3 are from Dungog LGA:<ul><li>3 in Martins Creek</li></ul></p>
<p class="transition hidden">1 is from Armidale LGA:<ul><li>1 in Armidale</li></ul></p>
  </div>
                                    <div class="title">
    <i class="dropdown icon"></i>
    26 October
  </div>
  <div class="content">
<p class="transition hidden">12 are from Newcastle LGA:<ul><li>2 in Carrington</li><li>2 in Hamilton South</li><li>2 in Jesmond</li><li>1 in Broadmeadow</li><li>1 in Cooks Hills</li><li>1 in Elermore Vale</li><li>1 in Mayfield</li><li>1 in Mayfield East</li><li>1 in Mayfield West</li></ul></p>
<p class="transition hidden">8 are from Lake Macquarie LGA:<ul><li>3 in Windale</li><li>2 in Bolton Point</li><li>1 in Belmont South</li><li>1 in Cardiff</li><li>1 in Cardiff South</li></ul></p> 
<p class="transition hidden">8 are from Maitland LGA:<ul><li>3 in Thornton</li><li>2 in Rutherford</li><li>2 in Tenambit</li><li>1 in Gillieston Heights</li></ul></p>
<p class="transition hidden">8 are from Cessnock LGA:<ul><li>5 in Kurri Kurri</li><li>2 in Cessnock</li><li>1 in Heddon Greta</li></ul></p>
<p class="transition hidden">6 are from Mid-Coast LGA:<ul><li>3 in Taree</li><li>1 in Harrington</li><li>1 in Tuncurry</li><li>1 in Wingham</li></p>
<p class="transition hidden">5 are from Port Stephens LGA:<ul><li>4 in Raymond Terrace</li><li>1 in Corlette</li></ul></p>
<p class="transition hidden">2 are from Dungog LGA:<ul><li>1 in Gresford</li><li>1 in Clarence Town</li></ul></p>
  </div>
                                <div class="title">
    <i class="dropdown icon"></i>
    25 October
  </div>
  <div class="content">
<p class="transition hidden">19 are from Newcastle LGA:<ul><li>4 in Elermore Vale</li><li>3 in Maryland</li><li>2 in Carrington</li><li>2 in Jesmond</li><li>2 in Mayfield</li><li>1 in Hamilton South</li><li>1 in Islington</li><li>1 in Mayfield West</li><li>1 in Merewether</li><li>1 in The Hill</li><li>1 in Tighes Hill</li></ul></p>
<p class="transition hidden">16 are from Lake Macquarie LGA:<ul><li>5 in Bolton Point</li><li>3 in Windale</li><li>1 in Belmont South</li><li>1 in Blacksmiths</li><li>1 in Cardiff</li><li>1 in Cardiff South</li><li>1 in Carey Bay</li><li>1 in Charlestown</li><li>1 in Gateshead</li><li>1 in Morisset</li></ul></p> 
<p class="transition hidden">7 are from Cessnock LGA:<ul><li>2 in Mulbring</li><li>1 in Cessnock</li><li>1 in Cliftleigh</li><li>1 in Kurri Kurri</li><li>1 in Millfield</li><li>1 in Weston</li></ul></p>
<p class="transition hidden">6 are from Port Stephens LGA:<ul><li>5 in Raymond Terrace</li><li>1 in Tomago</li></ul></p>
<p class="transition hidden">4 are from Maitland LGA:<ul><li>2 in Thornton</li><li>1 in Gillieston Heights</li><li>1 in Rutherford</li></ul></p>
<p class="transition hidden">2 are from Armidale LGA:<ul><li>2 in Armidale</li></ul></p>
<p class="transition hidden">1 is from Mid-Coast LGA:<ul><li>1 in Harrington</li></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Singleton</li></ul></p></ul></p>
<p class="transition hidden">1 is from Dungog LGA:<ul><li>1 in Clarence Town</li></ul></p></ul></p>
<p class="transition hidden">1 is from Tamworth Regional LGA:<ul><li>1 in Hillvue</li></ul></p>
<p class="transition hidden">1 is from Moree Plains LGA:<ul><li>1 in Moree</li></ul></p>
  </div>
                            <div class="title">
    <i class="dropdown icon"></i>
    24 October
  </div>
  <div class="content">
<p class="transition hidden">17 are from Newcastle LGA:<ul><li>9 in Hamilton South</li><li>2 in Jesmond</li><li>1 in Adamstown</li><li>1 in Georgetown</li><li>1 in Hamilton</li><li>1 in The Hill</li><li>1 in Wallsend</li><li>1 in Waratah</li></ul></p>
<p class="transition hidden">8 are from Lake Macquarie LGA:<ul><li>2 in Jewells</li><li>1 in Dora Creek</li><li>1 in Edgeworth</li><li>1 in Holmesville</li><li>1 in Toronto</li><li>1 in Whitebridge</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">7 are from Cessnock LGA:<ul><li>3 in Cessnock</li><li>2 in Cliftleigh</li><li>1 in Abermain</li><li>1 in Kurri Kurri</li></ul></p>
<p class="transition hidden">7 are from Maitland LGA:<ul><li>2 in Bolwarra</li><li>1 in Bolwarra Heights</li><li>1 in Chisholm</li><li>1 in Lorn</li><li>1 in Thornton</li><li>1 in Maitland</li></ul></p>
<p class="transition hidden">5 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>2 in Tanilba Bay</li><li>1 in Williamtown</li></ul></p>
<p class="transition hidden">4 are from Mid-Coast LGA:<ul><li>2 in Wingham</li><li>1 in Failford</li><li>1 in Forster</li></ul></p>
<p class="transition hidden">4 are from Tamworth Regional LGA:<ul><li>2 in Tamworth</li><li>2 in West Tamworth</li></ul></p>
<p class="transition hidden">1 is from Dungog LGA:<ul><li>1 in Dungog</li></ul></p>
  </div>
                        <div class="title">
    <i class="dropdown icon"></i>
    23 October
  </div>
  <div class="content">
<p class="transition hidden">21 are from Lake Macquarie LGA:<ul><li>3 in Macquarie Hills</li><li>3 in Warners Bay</li><li>2 in Cardiff Heights</li><li>2 in Dudley</li><li>2 in Holmesville</li><li>2 in West Wallsend</li><li>1 in Bolton Point</li><li>1 in Bonnells Bay</li><li>1 in Charlestown</li><li>1 in Gateshead</li><li>1 in Jewells</li><li>1 in Toronto</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">20 are from Newcastle LGA:<ul><li>4 in Jesmond</li><li>4 in Tarro</li><li>2 in New Lambton</li><li>2 in Waratah West</li><li>1 in Carrington</li><li>1 in Elermore Vale</li><li>1 in Hamilton</li><li>1 in Hamilton South</li><li>1 in Islington</li><li>1 in Mayfield</li><li>1 in North Lambton</li><li>1 in Tighes Hill</li></ul></p>
<p class="transition hidden">15 are from Mid-Coast LGA:<ul><li>8 in Taree</li><li>3 in Wingham</li><li>2 in Forster</li><li>1 in Harrington</li><li>1 in Tuncurry</li></ul></p>
<p class="transition hidden">10 are from Cessnock LGA:<ul><li>6 in Cessnock</li><li>2 in Kurri Kurri</li><li>1 in Aberdare</li><li>1 in Abermain</li></ul></p>
<p class="transition hidden">6 are from Maitland LGA:<ul><li>4 in Rutherford</li><li>1 in East Maitland</li><li>1 in Woodberry</li></ul></p>
<p class="transition hidden">2 are from Dungog LGA:<ul><li>1 in Clarence Town</li><li>1 in Martins Creek</li></ul></p>
<p class="transition hidden">2 are from Tamworth Regional LGA:<ul><li>1 in Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">1 is from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li></ul></p>
<p class="transition hidden">1 is from Muswellbrook LGA:<ul><li>1 in Castle Rock</li></ul></p>
  </div>
                        <div class="title">
    <i class="dropdown icon"></i>
    22 October
  </div>
  <div class="content">
<p class="transition hidden">17 are from Newcastle LGA:<ul><li>3 in Mayfield</li><li>2 in Wallsend</li><li>1 in Adamstown</li><li>1 in Carrington</li><li>1 in Fletcher</li><li>1 in Hamilton South</li><li>1 in Maryland</li><li>1 in Mayfield West</li><li>1 in Merewether</li><li>1 in New Lambton</li><li>1 in North Lambton</li><li>1 in Tarro</li><li>1 in Tighes Hill</li><li>1 in Waratah West</li></ul></p>
<p class="transition hidden">10 are from Lake Macquarie LGA:<ul><li>2 in Belmont North</li><li>1 in Belmont</li><li>1 in Bolton Point</li><li>1 in Cardiff</li><li>1 in Cardiff Heights</li><li>1 in Gateshead</li><li>1 in Macquarie Hills</li><li>1 in Whitebridge</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">9 are from Mid-Coast LGA:<ul><li>5 in Harrington</li><li>4 in Taree</li></ul></p>
<p class="transition hidden">7 are from Cessnock LGA:<ul><li>2 in Cessnock</li><li>1 in Abermain</li><li>1 in Cliftleigh</li><li>1 in Ellalong</li><li>1 in Kearsley</li><li>1 in Kurri Kurri</li></ul></p>
<p class="transition hidden">6 are from Maitland LGA:<ul><li>2 in Gillieston Heights</li><li>1 in East Maitland</li><li>1 in Rutherford</li><li>1 in Telarah</li><li>1 in Thornton</li></ul></p>
<p class="transition hidden">4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Brandy Hill</li><li>1 in Medowie</li></ul></p>
<p class="transition hidden">4 are from Tamworth Regional LGA:<ul><li>2 in Tamworth</li><li>1 in East Tamworth</li><li>1 in Oxley Vale</li></ul></p>
<p class="transition hidden">3 are from Singleton LGA:<ul><li>2 in Singleton Heights</li><li>1 in Singleton</li></ul></p>
<p class="transition hidden">1 is from Dungog LGA:<ul><li>1 in Vacy</li></ul></p>
  </div>
                    <div class="title">
    <i class="dropdown icon"></i>
    21 October
  </div>
  <div class="content">
<p class="transition hidden">23 are from Newcastle LGA:<ul><li>3 in Elermore Vale</li><li>3 in Hamilton</li><li>3 in Hamilton South</li><li>3 in Jesmond</li><li>2 in New Lambton Heights</li><li>2 in Wallsend</li><li>1 in Adamstown</li><li>1 in Birmingham Gardens</li><li>1 in Mayfield West</li><li>1 in Merewether</li><li>1 in North Lambton</li><li>1 in Tarro</li><li>1 in The Hill</li></ul></p>
<p class="transition hidden">15 are from Maitland LGA:<ul><li>6 in Rutherford</li><li>4 in Metford</li><li>3 in Woodberry</li><li>1 in Lorn</li><li>1 in Thornton</li></ul></p>
<p class="transition hidden">12 are from Lake Macquarie LGA:<ul><li>2 in Dudley</li><li>2 in Macquarie Hills</li><li>1 in Belmont North</li><li>1 in Bolton Point</li><li>1 in Cardiff South</li><li>1 in Gateshead</li><li>1 in Pelican</li><li>1 in West Wallsend</li><li>1 in Windale</li><li>1 in Wyee</li></ul></p> 
<p class="transition hidden">9 are from Cessnock LGA:<ul><li>8 in Cessnock</li><li>1 in Kurri Kurri</li></ul></p>
<p class="transition hidden">8 are from Mid-Coast LGA:<ul><li>4 in Taree</li><li>1 in Cundletown</li><li>1 in Killabakh</li><li>1 in Purfleet</li><li>1 in Hawks Nest</li></ul></p>
<p class="transition hidden">4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Williamtown</li><li>1 in Karuah</li></ul></p>
<p class="transition hidden">3 are from Tamworth Regional LGA:<ul><li>1 in East Tamworth</li><li>1 in South Tamworth</li><li>1 in West Tamworth</li></ul></p>
  </div> 
                    <div class="title">
    <i class="dropdown icon"></i>
    20 October
  </div>
  <div class="content">
<p class="transition hidden">22 are from Lake Macquarie LGA:<ul><li>3 in Macquarie Hills</li><li>3 in Mount Hutton</li><li>2 in Cardiff Heights</li><li>2 in Edgeworth</li><li>2 in Holmesville</li><li>2 in Windale</li><li>2 in Wyee</li><li>1 in Belmont</li><li>1 in Carey Bay</li><li>1 in Charlestown</li><li>1 in Toronto</li><li>1 in Warners Bay</li><li>1 in West Wallsend</li></ul></p> 
<p class="transition hidden">10 are from Newcastle LGA:<ul><li>3 in Hamilton South</li><li>2 in Wallsend</li><li>1 in Birmingham Gardens</li><li>1 in Jesmond</li><li>1 in Mayfield</li><li>1 in Newcastle West</li><li>1 in North Lambton</li></ul></p>
<p class="transition hidden">8 are from Cessnock LGA:<ul><li>3 in Abermain</li><li>2 in Cessnock</li><li>1 in Aberdare</li><li>1 in Pelaw Main</li><li>1 in Weston</li></ul></p>
<p class="transition hidden">7 are from Maitland LGA:<ul><li>2 in Horseshoe Bend</li><li>2 in Woodbery</li><li>1 in Gillieston Heights</li><li>1 in Metford</li><li>1 in Rutherford</li></ul></p>
<p class="transition hidden">5 are from Mid-Coast LGA:<ul><li>4 in Taree</li><li>1 in Killabakh</li></ul></p>
<p class="transition hidden">5 are from Tamworth LGA:<ul><li>4 in West Tamworth</li><li>1 in Tamworth</li></ul></p>
<p class="transition hidden">3 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li></ul></p>
<p class="transition hidden">2 are from Singleton LGA:<ul><li>1 in Hunterview</li><li>1 in Singleton</li></ul></p>
  </div> 
                <div class="title">
    <i class="dropdown icon"></i>
    19 October
  </div>
  <div class="content">
<p class="transition hidden">13 are from Lake Macquarie LGA:<ul><li>3 in Wyee</li><li>2 in Charlestown</li><li>2 in Speers Point</li><li>1 in Croudance Bay</li><li>1 in Dora Creek</li><li>1 in Edgeworth</li><li>1 in Gateshead</li><li>1 in Warners Bay</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">6 are from Mid-Coast LGA:<ul><li>3 in Wingham</li><li>2 in Taree</li><li>1 in Glenthorne</li></ul></p>
<p class="transition hidden">5 are from Cessnock LGA:<ul><li>4 in Abermain</li><li>1 in Bellbird</li></ul></p> 
<p class="transition hidden">4 are from Maitland LGA:<ul><li>2 in Rutherford</li><li>1 in Metford</li><li>1 in Gillieston Heights</li></ul></p>
<p class="transition hidden">4 are from Newcastle LGA:<ul><li>2 in Bar Beach</li><li>1 in Mayfield</li><li>1 in Merewether</li></ul></p>
<p class="transition hidden">2 are from Tamworth LGA:<ul><li>1 in Daruka</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">1 is from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li></ul></p>
  </div> 
                <div class="title">
    <i class="dropdown icon"></i>
    18 October
  </div>
  <div class="content">
<p class="transition hidden">15 are from Lake Macquarie LGA:<ul><li>6 in Charlestown</li><li>2 in Windale</li><li>1 in Belmont</li><li>1 in Cardiff South</li><li>1 in Croudace Bay</li><li>1 in Macquarie Hills</li><li>1 in Holmesville</li><li>1 in Speers Point</li><li>1 in Wyee</li></ul></p> 
<p class="transition hidden">13 are from Mid-Coast LGA:<ul><li>4 in Taree</li><li>3 in Tuncurry</li><li>2 in Forster</li><li>2 in Wingham</li><li>1 in Nabiac</li><li>1 in North Arm Cove</li></ul></p>
<p class="transition hidden">12 are from Newcastle LGA:<ul><li>7 in Wallsend</li><li>1 in Birmingham Gardens</li><li>1 in Hamilton</li><li>1 in Jesmond</li><li>1 in Lambton</li><li>1 in Mayfield</li></ul></p>
<p class="transition hidden">11 are from Maitland LGA:<ul><li>3 in Maitland</li><li>2 in East Maitland</li><li>2 in Metford</li><li>1 in Bolwarra Heights</li><li>1 in Rutherford</li><li>1 in Telarah</li><li>1 in Tenambit</li></ul></p>
<p class="transition hidden">6 are from Cessnock LGA:<ul><li>4 in Cessnock</li><li>1 in Kearsley</li><li>1 in Weston</li></ul></p> 
<p class="transition hidden">2 are from Port Stephens LGA:<ul><li>2 in Fingal Bay</li></ul></p>
<p class="transition hidden">2 are from Tamworth LGA:<ul><li>1 in Oxley Vale</li><li>1 in South Tamworth</li></ul></p>
<p class="transition hidden">1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Singleton Heights</li></ul></p>
  </div> 
            <div class="title">
    <i class="dropdown icon"></i>
    17 October
  </div>
  <div class="content">
<p class="transition hidden">19 are from Newcastle LGA:<ul><li>2 in Bar Beach</li><li>2 in Jesmond</li><li>2 in Merewether</li><li>2 in Mayfield</li><li>2 in New Lambton</li><li>2 in Wallsend</li><li>1 in Cooks Hill</li><li>1 in Elermore Vale</li><li>1 in Fletcher</li><li>1 in Hamilton</li><li>1 in Hamilton South</li><li>1 in Newcastle West</li><li>1 in Newcastle</li></ul></p>
<p class="transition hidden">17 are from Maitland LGA:<ul><li>3 in Horseshoe Bend</li><li> 3 in Maitland</li><li>3 in Rutherford</li><li>3 in Thornton</li><li>2 in Gillieston Heights</li><li>1 in East Maitland</li><li>1 in Metford</li><li>1 in Raworth</li><li>1 in Pelaw Main</li></ul></p>
<p class="transition hidden">15 are from Lake Macquarie LGA*:<ul><li>3 in Speers Point</li><li>2 in Edgeworth</li><li>1 in Barnsley</li><li>1 in Belmont</li><li>1 in Belmont South</li><li>1 in Cardiff South</li><li>1 in Marks Point</li><li>1 in Mount Hutton</li><li>1 in Teralba</li><li>1 in Valentine</li><li>1 in Warners Bay</li><li>1 in Windale</li><li>0 in Charlestown*</li></ul></p> 
<p class="transition hidden">12 are from Cessnock LGA:<ul><li>3 in Paxton</li><li>2 in Cessnock</li><li>1 in Aberdare</li><li>1 in Bellbird Heights</li><li>1 in East Cessnock</li><li>1 in Ellalong</li><li>1 in Greta</li><li>1 in Mount Vincent</li><li>1 in Pelaw Main</li></ul></p> 
<p class="transition hidden">6 are from Mid-Coast LGA:<ul><li>2 in Taree</li><li>1 in Forster</li><li>1 in Tuncurry</li><li>1 in Cedar Party</li><li>1 in Wingham</li></ul></p>
<p class="transition hidden">2 are from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li><li>1 in Williamtown</li></ul></p>
<p class="transition hidden">1 is from Singleton LGA:<ul><li>1 in Singleton</li></ul></p>
  </div> 
        <div class="title">
    <i class="dropdown icon"></i>
    16 October
  </div>
  <div class="content">
<p class="transition hidden">11 are from Newcastle LGA:<ul><li>5 in Merewether</li><li>1 in Jesmond</li><li>1 in Mayfield</li><li>1 in Elermore Vale</li><li>1 in New Lambton Heights</li><li>1 in Newcastle</li><li>1 in Wallsend</li></ul></p>
<p class="transition hidden">10 are from Cessnock LGA:<ul><li>6 in Cessnock</li><li>2 in Bellbird</li><li>1 in Paxton</li><li>1 in Quorrobolong</li></ul></p> 
<p class="transition hidden">8 are from Lake Macquarie LGA:<ul><li>3 in Macquarie Hills</li><li>1 in Barnsley</li><li>1 in Cardiff Heights</li><li>1 in Edgeworth</li><li>1 in Valentine</li><li>1 in Marks Point</li></ul></p> 
<p class="transition hidden">7 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li><li>1 in Karuah</li><li>1 in Lemon Tree Passage</li><li>1 in Swan Bay</li><li>1 in Raymond Terrace East</li></ul></p>
<p class="transition hidden">6 are from Maitland LGA:<ul><li>2 in East Maitland</li><li>1 in Morpeth</li><li>1 in Metford</li><li>1 in Gillieston Heights</li><li>1 in Maitland</li></ul></p>
<p class="transition hidden">6 are from Tamworth LGA:<ul><li>4 in Tamworth</li><li>1 in South Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">2 are from Mid-Coast LGA:<ul><li>2 in Taree</li></ul></p>
<p class="transition hidden">1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p>
  </div> 
        <div class="title">
    <i class="dropdown icon"></i>
    15 October
  </div>
  <div class="content">
<p class="transition hidden">25 are from Newcastle LGA:<ul><li>11 in Wallsend</li><li>2 in Hamilton South</li><li>2 in Merewether</li><li>2 in New Lambton</li><li>1 in Fletcher</li><li>1 in Lambton</li><li>1 in Maryland</li><li>1 in Mayfield East</li><li>1 in Mayfield West</li><li>1 in Newcastle</li><li>1 in Newcastle West</li><li>1 in Wallsend South</li></ul></p>
<p class="transition hidden">11 are from Lake Macquarie LGA:<ul><li>3 in Macquarie Hills</li><li>2 in Belmont South</li><li>2 in Speers Point</li><li>1 in Cardiff Heights</li><li>1 in Mount Hutton</li><li>1 in Toronto</li><li>1 in Windale</li></ul></p> 
<p class="transition hidden">11 are from Maitland LGA:<ul><li>7 in Telarah</li><li>1 in Largs</li><li>1 in Maitland</li><li>1 in Raworth</li><li>1 in Rutherford</li></ul></p>
<p class="transition hidden">10 are from Cessnock LGA:<ul><li>6 in Cessnock</li><li>1 in Abermain</li><li>1 in Greta</li><li>1 in Pelaw Main</li><li>1 in Weston</li></ul></p> 
<p class="transition hidden">9 are from Tamworth Regional LGA:<ul><li>4 in West Tamworth</li><li>3 in Tamworth</li><li>1 in South Tamworth</li><li>1 in Hillvue</li></ul></p>
<p class="transition hidden">9 are from Mid-Coast LGA:<ul><li>7 in Taree</li><li>1 in Cundletown</li><li>1 in Tea Gardens</li></ul></p>
<p class="transition hidden">3 are from Port Stephens LGA:<ul><li>1 in Fern Bay</li><li>1 in Raymond Terrace</li><li>1 in Williamtown</li></ul></p>
<p class="transition hidden">1 is from Gunnedah LGA:<ul><li>1 in Curlewis</li></ul></p>
  </div> 
    <div class="title">
    <i class="dropdown icon"></i>
    14 October
  </div>
  <div class="content">
<p class="transition hidden">19 are from Tamworth Regional LGA:<ul><li>8 in Tamworth</li><li>7 in Oxley Vale</li><li>3 in South Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">18 are from Newcastle LGA:<ul><li>4 in Lambton</li><li>3 in Wallsend</li><li>3 in Bar Beach</li><li>2 in Mayfield</li><li>2 in Merewether</li><li>1 in Maryland</li><li>1 in Stockton</li><li>1 in Fletcher</li><li>1 in Jesmond</li></ul></p>
<p class="transition hidden">16 are from Cessnock LGA:<ul><li>5 in Branxton</li><li>4 in Cessnock</li><li>2 in Greta</li><li>2 in Kearsley</li><li>1 in Abermain</li><li>1 in Cliftleigh</li><li>1 in East Branxton</li><li>1 in Kearsley</li><li>1 in Weston</li></ul></p>
<p class="transition hidden">15 are from Lake Macquarie LGA:<ul><li>3 in Windale</li><li>2 in Barnsley</li><li>2 in Belmont</li><li>2 in Macquarie Hills</li><li>1 in Belmont North</li><li>1 in Charlestown</li><li>1 in Cooranbong</li><li>1 in Edgeworth</li><li>1 in Gateshead</li><li>1 in Warners Bay</li></ul></p>  
<p class="transition hidden">13 are from Mid-Coast LGA:<ul><li>9 in Taree</li><li>3 in Forster</li><li>1 in Glenthorne</li></ul></p>
<p class="transition hidden">12 are from Maitland LGA:<ul><li>4 in Raworth</li><li>2 in Rutherford</li><li>2 in Woodberry</li><li>1 in East Maitland</li><li>1 in Largs</li><li>1 in Metford</li><li>1 in Maitland</li></ul></p>
<p class="transition hidden">8 are from Port Stephens LGA:<ul><li>7 in Raymond Terrace</li><li>1 in Karuah</li></ul></p>
<p class="transition hidden">2 are from Gunnedah LGA:<ul><li>1 in Curlewis</li><li>1 in Gunnedah</li></ul></p>
  </div> 
<div class="title">
    <i class="dropdown icon"></i>
    13 October
  </div>
  <div class="content">
<p class="transition hidden">22 are from Cessnock LGA:<ul><li>9 in Cessnock</li><li>2 in Bellbird</li><li>2 in Cliftleigh</li><li>2 in Greta</li><li>2 in Kearsley</li><li>1 in Aberdare</li><li>1 in Abermain</li><li>1 in Ellalong</li><li>1 in Paxton</li><li>1 in Stanford Merthyr</li></ul></p>
<p class="transition hidden">14 are from Lake Macquarie LGA:<ul><li>3 in Edgeworth</li><li>2 in Warners Bay</li><li>2 in Windale</li><li>1 in Belmont North</li><li>1 in Booragul</li><li>1 in Macquarie Hills</li><li>1 in Teralba</li><li>1 in Toronto</li><li>1 in Highfields</li><li>1 in West Wallsend</li></ul></p>
<p class="transition hidden">14 are from Newcastle LGA:<ul><li>5 in Birmingham Gardens</li><li>4 in Mayfield</li><li>2 in Wallsend</li><li>1 in New Lambton Heights</li><li>1 in Shortland</li><li>1 in Waratah</li></ul></p>  
<p class="transition hidden">12 are from Mid-Coast LGA:<ul><li>6 in Taree</li><li>4 in Cundletown</li><li>1 in Forster</li><li>1 in Wingham</li></ul></p>
<p class="transition hidden">7 are from Maitland LGA:<ul><li>3 in Rutherford</li><li>2 in Millers Forest</li><li>1 in Bolwarra Heights</li><li>1 in Telarah</li></ul></p>
<p class="transition hidden">2 are from Tamworth Regional LGA:<ul><li>1 in Calala</li><li>1 in South Tamworth</li></ul></p>
  </div> 
<div class="title">
    <i class="dropdown icon"></i>
    12 October
  </div>
  <div class="content">
<p class="transition hidden">13 are from Maitland LGA:<ul><li>6 in Woodberry</li><li>2 in Telarah</li><li>2 in Rutherford</li><li>2 in Millers Forest</li><li>1 in East Maitland</li></ul></p>
<p class="transition hidden">11 are from Lake Macquarie LGA:<ul><li>3 in Bolton Point</li><li>1 in Belmont South</li><li>1 in Gateshead</li><li>1 in Hillsborough</li><li>1 in Macquarie Hills</li><li>1 in Marks Point</li><li>1 in Toronto</li><li>1 in West Wallsend</li><li>1 in Croudace Bay</li></ul></p>
<p class="transition hidden">9 are from Cessnock LGA:<ul><li>7 in Weston</li><li>2 in Bellbird</li></ul></p>
<p class="transition hidden">6 are from Newcastle LGA:<ul><li>1 in Adamstown</li><li>1 in Bar Beach</li><li>1 in Cooks Hill</li><li>1 in Hamilton South</li><li>1 in Mayfield</li><li>1 in New Lambton Heights</li></ul></p>  
<p class="transition hidden">3 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li></ul></p>
<p class="transition hidden">3 are from Mid-Coast LGA:<ul><li>3 in Taree</li></ul></p>
<p class="transition hidden">2 are from Tamworth Regional LGA:<ul><li>1 in Tamworth</li><li>1 in West Tamworth</li></ul></p>
  </div>  
  <div class="title">
    <i class="dropdown icon"></i>
    11 October
  </div>
  <div class="content">
<p class="transition hidden">28 are from Lake Macquarie LGA:<ul><li>9 in Windale</li><li>4 in Speers Point</li><li>3 in Gateshead</li><li>2 in Bolton Point</li><li>2 in Macquarie Hills</li><li>2 in Warners Bay</li><li>1 in Charlestown</li><li>1 in Cooranbong</li><li>1 in Marks Point</li><li>1 in Morisset</li><li>1 in Belmont South</li></ul></p>
<p class="transition hidden">14 are from Cessnock LGA:<ul><li>3 in Kearsley</li><li>2 in Weston</li><li>2 in Bellbird</li><li>2 in Aberdare</li><li>1 in Branxton</li><li>1 in Cessnock</li><li>1 in Cliftleigh</li><li>1 in Congewai</li><li>1 in Paxton</li></ul></p>
<p class="transition hidden">10 are from Tamworth Regional LGA:<ul><li>5 in South Tamworth</li><li>5 in Tamworth</li></ul></p>
<p class="transition hidden">9 are from Newcastle LGA:<ul><li>3 in Wallsend</li><li>1 in Birmingham Gardens</li><li>1 in Fletcher</li><li>1 in Merewether Heights</li><li>1 in New Lambton</li><li>1 in Newcastle</li><li>1 in Shortland</li></ul></p>  
<p class="transition hidden">7 are from Maitland LGA:<ul><li>1 in Aberglasslyn</li><li>1 in Gillieston Heights</li><li>1 in Metford</li><li>1 in Raworth</li><li>1 in Rutherford</li><li>1 in Telarah</li><li>1 in Woodberry</li></ul></p>
<p class="transition hidden">4 are from Mid-Coast LGA:<ul><li>3 in Minimbah</li><li>1 in Wingham</li></ul></p>
<p class="transition hidden">4 are from Port Stephens LGA:<ul><li>3 in Raymond Terrace</li><li>1 in Nelson Bay</li></ul></p>
<p class="transition hidden">3 are from Muswellbrook LGA:<ul><li>3 in Muswellbrook</li></ul></p>
<p class="transition hidden">2 are from Gunnedah LGA:<ul><li>2 in Gunnedah</li></ul></p>
<p class="transition hidden">1 is from Upper Hunter Shire LGA:<ul><li>1 in Scone</li></ul></p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    10 October
  </div>
  <div class="content">
<p class="transition hidden">16 are from Lake Macquarie LGA:<ul><li>3 in Windale</li><li>2 in Woodrising</li><li>2 in Wyee</li><li>1 in Barnsley</li><li>1 in Belmont</li><li>1 in Charlestown</li><li>1 in Cooranbong</li><li>1 in Edgeworth</li><li>1 in Mount Hutton</li><li>1 in Teralba</li><li>1 in Toronto</li><li>1 in Warners Bay</li></ul></p>
<p class="transition hidden">15 are from Cessnock LGA:<ul><li>3 in Greta</li><li>3 in Kurri Kurri</li><li>1 in Aberdare</li><li>1 in Abermain</li><li>1 in Cliftleigh</li><li>1 in Ellalong</li><li>1 in Heddon Greta</li><li>1 in Kearsley</li><li>1 in Lovedale</li><li>1 in Paxton</li><li>1 in Weston</li></ul></p>
<p class="transition hidden">7 are from Tamworth Regional LGA:<ul><li>5 in Tamworth</li><li>1 in South Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p class="transition hidden">6 are from Newcastle LGA:<ul><li>1 in Bar Beach</li><li>1 in Birmingham Gardens</li><li>1 in Fletcher</li><li>1 in Merewether</li><li>1 in New Lambton Heights</li><li>1 in Wallsend</li></ul></p>  
<p class="transition hidden">4 are from Maitland LGA:<ul><li>1 in East Maitland</li><li>1 in Maitland</li><li>1 in Rutherford</li><li>1 in Telarah</li></ul></p>
<p class="transition hidden">3 are from Mid-Coast LGA:<ul><li>2 in Taree</li><li>1 in Bretti</li></ul></p>
<p class="transition hidden">2 are from Port Stephens LGA:<ul><li>1 in Millers Forest</li><li>1 in North Arm Cove</li></ul></p>
<p class="transition hidden">2 are from Singleton LGA:<ul><li>1 in Singleton</li><li>1 in Hunterview</li></ul></p>
<p class="transition hidden">1 is from Upper Hunter Shire LGA:<ul><li>1 in Scone</li></ul></p>
  </div>
</div>

<h3>9 October</h3>
<p>28 are from Lake Macquarie LGA:<ul><li>8 in Windale</li><li>5 in Bolton Point</li><li>3 in Toronto</li><li>2 in Belmont North</li><li>2 in Mount Hutton</li><li>2 in Warners Bay</li><li>1 in Belmont South</li><li>1 in Bonnells Bay</li><li>1 in Charlestown</li><li>1 in Gateshead</li><li>1 in Morisset</li><li>1 in Swansea</li></ul></p>
<p>24 are from Cessnock LGA:<ul><li>8 in Cessnock</li><li>3 in Abermain</li><li>2 in Aberdare</li><li>2 in Cliftleigh</li><li>2 in Weston</li><li>1 in Congewei</li><li>1 in East Branxton</li><li>1 in Ellalong</li><li>1 in Kearsley</li><li>1 in Kurri Kurri</li><li>1 in Lovedale</li><li>1 in Paxton</li></ul></p>
<p>15 are from Newcastle LGA:<ul><li>3 in Merewether</li><li>2 in Hamilton East</li><li>2 in Mayfield</li><li>1 in Cooks Hill</li><li>1 in Fletcher</li><li>1 in Lambton</li><li>1 in Merewether Heights</li><li>1 in Shortland</li><li>1 in Wallsend</li><li>1 in Waratah</li><li>1 in Waratah West</li></ul></p>  
<p>13 are from Maitland LGA:<ul><li>3 in Thorton</li><li>3 in East Maitland</li><li>2 in Aberglasslyn</li><li>2 in Maitland</li><li>1 in Bolwarra Heights</li><li>1 in Rutherford</li><li>1 in Woodberry</li></ul></p>
<p>5 are from Tamworth Regional LGA:<ul><li>2 in Oxley Vale</li><li>1 in Calala</li><li>1 in South Tamworth</li><li>1 in West Tamworth</li></ul></p>
<p>4 are from Mid-Coast LGA:<ul><li>3 in Taree</li><li>1 in Purfleet</li></ul></p>
<p>4 are from Muswellbrook LGA:<ul><li>3 in Muswellbrook</li><li>1 in Muswellbrook South</li></ul></p>
<p>1 is from Glen Innes Severn LGA:<ul><li>1 in Emmaville</li></ul></p>
<p>1 is from Gunnedah LGA:<ul><li>1 in Gunnedah</li></ul></p> 
<p>1 is from Port Stephens LGA:<ul><li>1 in Karuah</li></ul></p>
<p>1 is from Singleton LGA:<ul><li>1 in Broke</li></ul></p>
<p>1 is from Upper Hunter Shire LGA:<ul><li>1 in Green Creek</li></ul></p>

<h3>8 October</h3>
<p>27 are from Lake Macquarie LGA:<ul><li>4 in Warners Bay</li><li>3 in Mount Hutton</li><li>2 in Hillsborough</li><li>2 in Teralba</li><li>2 in Tingara Heights</li><li>2 in Windale</li><li>2 in Gateshead</li><li>1 in Belmont North</li><li>1 in Cardiff Heights</li><li>1 in Charlestown</li><li>1 in Edgeworth</li><li>1 in Macquarie Hills</li><li>1 in Marmong Point</li><li>1 in Speers Point</li><li>1 in Toronto</li><li>1 in Valentine</li><li>1 in Yarrawonga Park</li></ul></p>
<p>23 are from Cessnock LGA:<ul><li>8 in Cessnock</li><li>5 in Paxton</li><li>4 in Ellallong</li><li>3 in Kurri Kurri</li><li>1 in Aberdare</li><li>1 in Kitchener</li><li>1 in Weston</li></ul></p>
<p>17 are from Maitland LGA:<ul><li>6 in Woodberry</li><li>4 in Ashtonfield</li><li>2 in Aberglasslyn</li><li>2 in South Maitland</li><li>1 in East Maitland</li><li>1 in Metford</li><li>1 in Telarah</li></ul></p>
<p>8 are from Tamworth Regional LGA:<ul><li>5 in West Tamworth</li><li>3 in Tamworth</li></ul></p>
<p>6 are from Newcastle LGA:<ul><li>3 in Mayfield</li><li>1 in Tarro</li><li>1 in Fletcher</li><li>1 in Cooks Hill</li></ul></p>  
<p>6 are from Mid-Coast LGA:<ul><li>3 in Taree</li><li>2 in Nabiac</li><li>1 in Minimbah</li></ul></p>
<p>6 are from Singleton LGA:<ul><li>4 in Singleton</li><li>1 in Singleton Heights</li><li>1 in Hunterview</li></ul></p>
<p>3 are from Port Stephens LGA:<ul><li>2 in Medowie</li><li>1 in Raymond Terrace</li></ul></p>
<p>1 is from Gunnedah LGA:<ul><li>1 in Curlewis</li></ul></p> 

<h3>7 October</h3>
<p>26 are from Lake Macquarie LGA:<ul><li>5 in Morisset</li><li>3 in Blacksmiths</li><li>3 in Gateshead</li><li>3 in Windale</li><li>2 in Swansea</li><li>2 in Warners Bay</li><li>1 in Argenton</li><li>1 in Balcolyn</li><li>1 in Barnsley</li><li>1 in Bonnells Bay</li><li>1 in Cardiff Heights</li><li>1 in Mirrabooka</li><li>1 in Wakefield</li><li>1 in Wyee</li></ul></p>
<p>14 are from Maitland LGA:<ul><li>4 in Rutherford</li><li>3 in Telarah</li><li>3 in Woodberry</li><li>1 in East Maitland</li><li>1 in Gillieston Heights</li><li>1 in Maitland</li><li>1 in Metford</li></ul></p>
<p>13 are from Newcastle LGA:<ul><li>5 in Mayfield</li><li>1 in Cooks Hill</li><li>1 in Hamilton South</li><li>1 in Merewether</li><li>1 in New Lambton Heights</li><li>1 in Newcastle</li><li>1 in North Lambton</li><li>1 in Wallsend</li><li>1 in Wallsend South</li></ul></p> 
<p>13 are from Cessnock LGA:<ul><li>5 in Cessnock</li><li>4 in Kurri Kurri</li><li>2 in Greta</li><li>1 in Ellalong</li><li>1 in Weston</li></ul></p>
<p>8 are from Tamworth Regional LGA:<ul><li>8 in West Tamworth</li></ul></p> 
<p>3 are from Mid-Coast LGA:<ul><li>2 in Forster</li><li>1 in Booral</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>1 in Tanilba Bay</li><li>1 in Raymond Terrace</li></ul></p>
<p>2 are from Muswellbrook LGA:<ul><li>1 in Muswellbrook South</li></ul></p> 
<p>1 is from Singleton LGA:<ul><li>1 in Singleton Heights</li></ul></p> 
<p>1 is from Gunnedah LGA:<ul><li>1 in Gunnedah</li></ul></p> 

<h3>6 October</h3>
<p>27 are from Newcastle LGA:<ul><li>9 in Wallsend</li><li>7 in Merewether</li><li>2 in Jesmond</li><li>2 in Hamilton</li><li>2 in Newcastle</li><li>1 in Mayfield</li><li>1 in Shortland</li><li>1 in Hamilton South</li><li>1 in Tighes Hill</li><li>1 in Stockton</li></ul></p> 
<p>26 are from Lake Macquarie LGA:<ul><li>4 in Gateshead</li><li>3 in Swansea</li><li>2 in Toronto</li><li>2 in Morisset</li><li>2 in Belmont</li><li>2 in Cooranbong</li><li>2 in Blacksmiths</li><li>1 in Mount Hutton</li><li>1 in Charlestown</li><li>1 in Cardiff</li><li>1 in Marks Point</li><li>1 in Wyee</li><li>1 in Cameron Park</li><li>1 in Dudley</li><li>1 in Belmont North</li><li>1 in Speers Point</li></ul></p>
<p>17 are from Cessnock LGA:<ul><li>9 in Cessnock</li><li>2 in Kurri Kurri</li><li>1 in Neath</li><li>1 in Bishops Bridge</li><li>1 in Elrington</li><li>1 in Greta</li><li>1 in Kearsley</li><li>1 in Pelaw Main</li></ul></p>
<p>14 are from Maitland LGA:<ul><li>5 in Woodberry</li><li>3 in Rutherford</li><li>3 in East Maitland</li><li>1 in Metford</li><li>1 in Thornton</li><li>1 in Maitland</li></ul></p>
<p>4 are from Port Stephens LGA:<ul><li>2 in Tanilba Bay</li><li>2 in Raymond Terrace</li></ul></p>
<p>2 are from Mid-Coast LGA:<ul><li>2 in Nabiac</li></ul></p>
<p>1 is from Singleton LGA:<ul><li>1 in Singleton Heights</li></ul></p> 
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p> 
<p>1 is from Tamworth Regional LGA:<ul><li>1 in Tamworth</li></ul></p> 

<h3>5 October</h3>
<p>27 are from Lake Macquarie LGA:<ul><li>4 in Charlestown</li><li>3 in Edgeworth</li><li>2 in Mount Hutton</li><li>2 in Gateshead</li><li>2 in Morisset</li><li>2 in Belmont</li><li>1 in Toronto</li><li>1 in Blackalls Park</li><li>1 in Warners Bay</li><li>1 in Windale</li><li>1 in Dora Creek</li><li>1 in Woodrising</li><li>1 in Cameron Park</li><li>1 in Cardiff Heights</li><li>1 in Caves Beach</li><li>1 in Kahibah</li><li>1 in Morriset Park</li><li>1 in Wakefield</li></ul></p> 
<p>12 are from Maitland LGA:<ul><li>5 in Woodberry</li><li>3 in Ashtonfield</li><li>2 in Rutherford</li><li>1 in Maitland</li><li>1 in Gillieston Heights</li></ul></p>
<p>8 are from Newcastle LGA:<ul><li>4 in Merewether</li><li>1 in Wallsend</li><li>1 in Mayfield</li><li>1 in Shortland</li><li>1 in Elermore Vale</li></ul></p>
<p>6 are from Gunnedah LGA:<ul><li>4 in Gunnedah</li><li>1 in Carroll</li><li>1 in Kelvin</li></ul></p>
<p>5 are from Cessnock LGA:<ul><li>3 in Cessnock</li><li>1 in Abermain</li><li>1 in Cliftleigh</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>1 in Lemon Tree Passage</li><li>1 in Nelson Bay</li></ul></p>
<p>2 are from Mid-Coast LGA:<ul><li>1 in Purfleet</li><li>1 in Taree</li></ul></p>
<p>1 is from Singleton LGA:<ul><li>1 in Singleton</li></ul></p> 
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook South</li></ul></p> 
<p>1 is from Liverpool Plains LGA:<ul><li>1 in Werris Creek</li></ul></p> 

<h3>4 October</h3>
<p>21 are from Cessnock LGA:<ul><li>6 in Paxton</li><li>5 in Cessnock</li><li>4 in Kurri Kurri</li><li>1 in Aberdare</li><li>1 in Cliftleigh</li><li>1 in East Branxton</li><li>1 in Elrington</li><li>1 in Heddon Greta</li><li>1 in Weston</li></ul></p> 
<p>19 are from Lake Macquarie LGA:<ul><li>4 in Morisset</li><li>3 in Gateshead</li><li>2 in Blacksmiths</li><li>2 in Valentine</li><li>1 in Balcolyn</li><li>1 in Belmont</li><li>1 in Cardiff</li><li>1 in Charlestown</li><li>1 in Dora Creek</li><li>1 in Marks Point</li><li>1 in Seahampton</li><li>1 in Warners Bay</li></ul></p>
<p>8 are from Maitland LGA:<ul><li>2 in Maitland</li><li>2 in Thornton</li><li>1 in Aberglasslyn</li><li>1 in Telarah</li><li>1 in Tenambit</li><li>1 in Rutherford</li></ul></p>
<p>7 are from Newcastle LGA:<ul><li>1 in Adamstown</li><li>1 in Hamilton South</li><li>1 in Mayfield</li><li>1 in Merewether</li><li>1 in Shortland</li><li>1 in Wallsend</li><li>1 in Waratah</li></ul></p>
<p>3 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Anna Bay</li></ul></p>
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p> 

<h3>3 October</h3>
<p>31 are from Lake Macquarie LGA:<ul><li>7 in Bonnells Bay</li><li>3 in Windale</li><li>2 in Belmont</li><li>2 in Charlestown</li><li>2 in Gateshead</li><li>2 in Teralba</li><li>2 in Whitebridge</li><li>2 in Warners Bay</li><li>1 in Belmont South</li><li>1 in Blackalls Park</li><li>1 in Booragul</li><li>1 in Glendale</li><li>1 in Marmong Point</li><li>1 in Redhead</li><li>1 in Swansea Heads</li><li>1 in Toronto</li><li>1 in Wyee</li></ul></p>
<p>15 are from Cessnock LGA:<ul><li>6 in Weston</li><li>3 in Cessnock</li><li>3 in Kurri Kurri</li><li>1 in Bellbird</li><li>1 in Heddon Greta</li><li>1 in Paxton</li></ul></p> 
<p>12 are from Maitland LGA:<ul><li>4 in South Maitland</li><li>3 in Woodberry</li><li>2 in Metford</li><li>2 in Thornton</li><li>1 in Rutherford</li></ul></p>
<p>9 are from Newcastle LGA:<ul><li>2 in Wallsend</li><li>1 in Adamstown</li><li>1 in Bar Beach</li><li>1 in Hamilton</li><li>1 in Jesmond</li><li>1 in Kotara</li><li>1 in Mayfield</li><li>1 in Shortland</li></ul></p>
<p>6 are from Port Stephens LGA:<ul><li>2 in Fullerton Cove</li><li>2 in Raymond Terrace</li><li>1 in Anna Bay</li><li>1 in Medowie</li></ul></p>
<p>4 are from Muswellbrook LGA:<ul><li>4 in Muswellbrook</li></ul></p> 
<p>1 is from Dungog LGA:<ul><li>1 in Dungog</li></ul></p>  
<p>1 is from Gunnedah LGA:<ul><li>1 in Gunnedah</li></ul></p> 
<p>1 is from Tamworth LGA:<ul><li>1 in West Tamworth</li></ul></p> 

<h3>2 October</h3>
<p>25 are from Lake Macquarie LGA:<ul><li>5 in Mount Hutton</li><li>3 in Warners Bay</li><li>2 in Blackalls Park</li><li>2 in Charlestown</li><li>2 in Marks Point</li><li>2 in Toronto</li><li>2 in Windale</li><li>2 in Wyee</li><li>1 in Bolton Point</li><li>1 in Cardiff</li><li>1 in Dora Creek</li><li>1 in Gateshead</li><li>1 in Teralba</li></ul></p>
<p>21 are from Newcastle LGA:<ul><li>4 in Jesmond</li><li>3 in Hamilton</li><li>3 in Wallsend</li><li>2 in Hamilton North</li><li>2 in Mayfield</li><li>2 in Warabrook</li><li>1 in Adamstown</li><li>1 in Birmingham Gardens</li><li>1 in Cooks Hill</li><li>1 in New Lambton</li><li>1 in Waratah</li></ul></p>
<p>13 are from Maitland LGA:<ul><li>3 in Rutherford</li><li>3 in Woodberry</li><li>2 in Maitland</li><li>1 in Beresfield</li><li>1 in Bolwarra Heights</li><li>1 in East Maitland</li><li>1 in Metford</li><li>1 in Thornton</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>1 in Medowie</li><li>1 in Lemon Tree Passage</li></ul></p>
<p>1 is from Cessnock LGA:<ul><li>1 in Kurri Kurri</li></ul></p> 
<p>1 is from Mid-Coast LGA:<ul><li>1 in Purfleet</li></ul></p>  
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p> 
<p>1 is from Singleton LGA:<ul><li>1 in Singleton</li></ul></p> 

<h3>1 October</h3>
<p>23 are from Lake Macquarie LGA:<ul><li>3 in Blackalls Park</li><li>2 in Windale</li><li>2 in Dora Creek</li><li>2 in Swansea</li><li>2 in Cameron Park</li><li>2 in Cooranbong</li><li>1 in Edgeworth</li><li>1 in Warners Bay</li><li>1 in Gateshead</li><li>1 in Belmont</li><li>1 in Bonnells Bay</li><li>1 in Marks Point</li><li>1 in Redhead</li><li>1 in Whitebridge</li><li>1 in Floraville</li><li>1 in Wyee</li></ul></p>
<p>20 are from Newcastle LGA:<ul><li>4 in Hamilton</li><li>3 in Shortland</li><li>2 in New Lambton</li><li>2 in Elermore Vale</li><li>1 in Mayfield</li><li>1 in Merewether</li><li>1 in Newcastle</li><li>1 in Cooks Hill</li><li>1 in Birmingham Gardens</li><li>1 in Hamilton South</li><li>1 in Kotara</li><li>1 in Waratah West</li><li> 1 in Tighes Hill</li></ul></p>
<p>9 are from Maitland LGA:<ul><li>5 in Rutherford</li><li>2 in Telarah</li><li>1 in Woodberry</li><li>1 in Farley</li></ul></p>
<p>8 are from Cessnock LGA:<ul><li>3 in Neath</li><li>2 in East Branxton</li><li>1 in Weston</li><li>1 in Cessnock</li><li>1 in Cliftleigh</li></ul></p>
<p>3 are from Muswellbrook LGA:<ul><li>3 in Muswellbrook</li></ul></p> 
<p>2 are from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li><li>1 in Salamander Bay</li></ul></p>  
<p>2 are from Singleton LGA:<ul><li>1 in Singleton</li><li>1 in Singleton Heights</li></ul></p> 
<p>1 is from Upper Hunter Shire LGA:<ul><li>1 in Merriwa</li></ul></p> 
<p>1 is from Dungog LGA:<ul><li>1 in Gresford</li></ul></p> 

<h3>30 September</h3>
<p>21 are from Lake Macquarie LGA:<ul><li>4 in Edgeworth</li><li>2 in Woodrising</li><li>2 in Windale</li><li>2 in Belmont North</li><li>1 in Toronto</li><li>1 in Cooranbong</li><li>1 in Mirrabooka</li><li>1 in Booragul</li><li>1 in Charlestown</li><li>1 in Dudley</li><li>1 in Gateshead</li><li>1 in Glendale</li><li>1 in Belmont</li><li>1 in Marks Point</li><li>1 in Murrays Beach</li></ul></p>
<p>19 are from Cessnock LGA:<ul><li>7 in Kurri Kurri</li><li>5 in Weston</li><li>2 in Cliftleigh</li><li>1 in Cessnock</li><li>1 in Heddon Greta</li><li>1 in Kitchener</li><li>1 in Laguna</li><li>1 in Neath</li></ul></p>
<p>17 are from Newcastle LGA:<ul><li>3 in Wallsend</li><li>3 in Mayfield</li><li>2 in New Lambton</li><li>2 in Newcastle</li><li>1 in Merewether</li><li>1 in Tarro</li><li>1 in Adamstown</li><li>1 in Hamilton South</li><li>1 in Mayfield East</li><li>1 in Waratah West</li><li>1 in Rankin Park</li></ul></p>
<p>17 are from Maitland LGA:<ul><li>12 in Woodberry</li><li>1 in Rutherford</li><li>1 in Thornton</li><li>1 in East Maitland</li><li>1 in South Maitland</li><li>1 in Farley</li></ul></p>
<p>4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Fern Bay</li><li>1 in Medowie</li></ul></p>  
<p>4 are from Mid-Coast LGA:<ul><li>3 in Gloucester</li><li>1 in Pampoolah</li></ul></p> 

<h3>29 September</h3>
<p>18 are from Newcastle LGA:<ul><li>2 in Jesmond</li><li>2 in New Lambton</li><li>2 in Adamstown</li><li>2 in Highfields</li><li>1 in Mayfield</li><li>1 in Cooks Hill</li><li>1 in Newcastle</li><li>1 in Shortland</li><li>1 in Tarro</li><li>1 in Kotara</li><li>1 in Hamilton</li><li>1 in Hamilton South</li><li>1 in Lambton</li><li>1 in Georgetown</li><li>1 in Waratah West</li></ul></p>
<p>12 are from Lake Macquarie LGA:<ul><li>2 in Mount Hutton</li><li>2 in Gateshead</li><li>1 in Seahampton</li><li>1 in Charlestown</li><li>1 in Boolaroo</li><li>1 in Edgeworth</li><li>1 in Eleebana</li><li>1 in Marks Point</li><li>1 in Swansea</li><li>1 in Whitebridge</li></ul></p>
<p>11 are from Cessnock LGA:<ul><li>4 in Cessnock</li><li>4 in Weston</li><li>2 in Kurri Kurri</li><li>1 in Bellbird</li></ul></p>
<p>9 are from Maitland LGA:<ul><li>5 in Metford</li><li>2 in Rutherford</li><li>1 in Chisholm</li><li>1 in Morpeth</li></ul></p>
<p>3 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Tanilba Bay</li></ul></p>  
<p>1 is from Singleton LGA:<ul><li>1 in Singleton Heights</li></ul></p> 
<p>1 is from Mid-Coast LGA:<ul><li>1 in Booral</li></ul></p> 

<h3>28 September</h3>
<p>19 are from Newcastle LGA:<ul><li>3 in Merewether</li><li>3 in Warabrook</li><li>2 in Cooks Hills</li><li>1 in Mayfield</li><li>1 in Elermore Vale</li><li>1 in Newcastle</li><li>1 in Adamstown Heights</li><li>1 in Birmingham Gardens</li><li>1 in Kotara</li><li>1 in North Lambton</li><li>1 in Georgetown</li><li>1 in Hamilton North</li><li>1 in Stockton</li><li>1 in Beresfield</li></ul></p>
<p>18 are from Lake Macquarie LGA:<ul><li>3 in Edgeworth</li><li>2 in Mirrabooka</li><li>2 in Morisset</li><li>2 in Redhead</li><li>1 in Toronto</li><li>1 in Mount Hutton</li><li>1 in Cardiff</li><li>1 in Warners Bay</li><li>1 in Belmont North</li><li>1 in Teralba</li><li>1 in Windale</li><li>1 in Boolaroo</li><li>1 in Gateshead</li></ul></p>
<p>13 are from Maitland LGA:<ul><li>5 in Metford</li><li>3 in Thornton</li><li>2 in East Maitland</li><li>2 in Woodberry</li><li>1 in Rutherford</li></ul></p>
<p>6 are from Port Stephens LGA:<ul><li>4 in Raymond Terrace</li><li>1 in Medowie</li><li>1 in Lemon Tree Passage</li></ul></p>  
<p>4 are from Cessnock LGA:<ul><li>2 in Weston</li><li>1 in Kurri Kurri</li><li>1 in Heddon Greta</li></ul></p>
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p> 
<p>1 is from Singleton LGA:<ul><li>1 in Wattle Ponds</li></ul></p> 
<p>1 is from Upper Hunter Shire LGA:<ul><li>1 in Aberdeen</li></ul></p> 

<h3>27 September</h3>
<p>21 are from Newcastle LGA:<ul><li>7 in Jesmond</li><li>5 in Wallsend</li><li>2 in Newcastle</li><li>1 in Mayfield</li><li>1 in Merewether</li><li>1 in Cooks Hill</li><li>1 in Waratah</li><li>1 in Birmingham Gardens</li><li>1 in Newcastle West</li><li>1 in Lambton</li></ul></p>
<p>12 are from Lake Macquarie LGA:<ul><li>4 in Cardiff</li><li>2 in Blackalls Park</li><li>2 in Cardiff South</li><li>1 in Macquarie Hills</li><li>1 in Windermere Park</li><li>1 in Lakelands</li><li>1 in Marmong Point</li></ul></p>
<p>4 are from Cessnock LGA:<ul><li>2 in Weston</li><li>1 in Abermain</li><li>1 in Heddon Greta</li></ul></p>
<p>4 are from Maitland LGA:<ul><li>2 in Rutherford</li><li>1 in East Maitland</li><li>1 in Woodberry</li></ul></p>
<p>4 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li><li>1 in Medowie</li><li>1 in Twelve Mile Creek</li></ul></p>  
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p> 

<h3>26 September</h3>
<p>19 are from Lake Macquarie LGA:<ul><li>3 in Edgeworth</li><li>3 in Mount Hutton</li><li>2 in Blackalls Park</li><li>2 in Bonnells Bay</li><li>1 in Toronto</li><li>1 in Cardiff</li><li>1 in Mirrabooka</li><li>1 in Dora Creek</li><li>1 in Lakelands</li><li>1 in Teralba</li><li>1 in Valentine</li><li>1 in Windermere Park</li><li>1 in Yarrawonga Park</li></ul></p>
<p>15 are from Newcastle LGA:<ul><li>3 in New Lambton</li><li>2 in Mayfield</li><li>2 in Cooks Hill</li><li>1 in Wallsend</li><li>1 in Merewether</li><li>1 in Newcastle East</li><li>1 in Bar Beach</li><li>1 in North Lambton</li><li>1 in Islington</li><li>1 in Adamstown Heights</li><li>1 in Maryland</li></ul></p>
<p>5 are from Cessnock LGA:<ul><li>3 in Kurri Kurri</li><li>1 in Weston</li><li>1 in Cessnock</li></ul></p>
<p>4 are from Maitland LGA:<ul><li>2 in Tenambit</li><li>1 in South Maitland</li><li>1 in Farley</li></ul></p>
<p>1 is from Singleton LGA:<ul><li>1 in Gowrie</li></ul></p>  
<p>1 is from Mid-Coast LGA:<ul><li>1 in Darawank</li></ul></p> 

<h3>25 September</h3>
<p>18 are from Lake Macquarie LGA:<ul><li>3 in Cooranbong</li><li>2 in Charlestown</li><li>2 in Toronto</li><li>2 in Warners Bay</li><li>1 in Belmont</li><li>1 in Bolton Point</li><li>1 in Booragul</li><li>1 in Cardiff South</li><li>1 in Dudley</li><li>1 in Edgeworth</li><li>1 in Mount Hutton</li><li>1 in Wangi Wangi</li><li>1 in Woodrising</li></ul></p>
<p>5 are from Cessnock LGA:<ul><li>3 in Kurri Kurri</li><li>2 in Weston</li></ul></p>
<p>3 are from Newcastle LGA:<ul><li>1 in Adamstown</li><li>1 in Newcastle East</li><li>1 in Wallsend</li></ul></p>
<p>2 are from Maitland LGA:<ul><li>1 in Metford</li><li>1 in Thornton</li></ul></p>
<p>2 are from Singleton LGA:<ul><li>2 in Singleton</li></ul></p>  
<p>1 is from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li></ul></p> 

<h3>24 September</h3>
<p>14 are from Newcastle LGA:<ul><li>3 in Merewether</li><li>1 in Mayfield</li><li>1 in Wallsend</li><li>1 in Elermore Vale</li><li>1 in Newcastle</li><li>1 in Hamilton South</li><li>1 in New Lambton</li><li>1 in Jesmond</li><li>1 in Islington</li><li>1 in Kotara South</li><li>1 in Newcastle West</li><li>1 in Warabrook</li></ul></p>
<p>8 are from Lake Macquarie LGA:<ul><li>3 in Cardiff</li><li>2 in Toronto</li><li>1 in Mount Hutton</li><li>1 in Cooranbong</li><li>1 in Morriset</li></ul></p>
<p>7 are from Cessnock LGA:<ul><li>6 in Weston</li><li>1 in Branxton</li></ul></p>
<p>5 are from Maitland LGA:<ul><li>3 in East Maitland</li><li>1 in Rutherford</li><li>1 in Thornton</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>2 in Raymond Terrace</li></ul></p>  
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p>
<p>1 is from Mid-Coast LGA:<ul><li>1 in Darawank</li></ul></p>  

<h3>23 September</h3>
<p>26 are from Lake Macquarie LGA:<ul><li>4 in Toronto</li><li>3 in Cardiff</li><li>3 in Mount Hutton</li><li>2 in Blackalls Park</li><li>2 in Booragul</li><li>2 in Macquarie Hills</li><li>2 in Mirrabooka</li><li>2 in Warners Bay</li><li>1 in Arcadia Vale</li><li>1 in Cardiff South</li><li>1 in Cooranbong</li><li>1 in Eleebana</li><li>1 in Glendale</li><li>1 in Kahibah</li></ul></p>
<p>7 are from Newcastle LGA:<ul><li>2 in Hamilton South</li><li>1 in Adamstown</li><li>1 in Elermore Vale</li><li>1 in Merewether</li><li>1 in Newcastle</li><li>1 in Shortland</li></ul></p>
<p>2 are from Cessnock LGA:<ul><li>1 in Cessnock</li><li>1 in Cliftleigh</li></ul></p>
<p>2 are from Maitland LGA:<ul><li>1 in East Maitland</li><li>1 in Thornton</li></ul></p>
<p>2 are from Muswellbrook LGA:<ul><li>2 in Muswellbrook</li></ul></p>
<p>1 is from Port Stephens LGA:<ul><li>1 in Medowie</li></ul></p>  
<p>1 is from Mid-Coast LGA:<ul><li>1 in Possum Brush</li></ul></p>  

<h3>22 September</h3>
<p>20 are from Newcastle LGA:<ul><li>4 in Newcastle</li><li>3 in Wallsend</li><li>3 in Birmingham Gardens</li><li>2 in Newcastle East</li><li>1 in Mayfield</li><li>1 in New Lambton</li><li>1 in Merewether</li><li>1 in Waratah</li><li>1 in Hamilton</li><li>1 in Mayfield East</li><li>1 in Bar Beach</li><li>1 in Wallsend South</li></ul></p>
<p>19 are from Lake Macquarie LGA:<ul><li>4 in Toronto</li><li>4 in Cooranbong</li><li>3 in Mirrabooka</li><li>2 in Woodrising</li><li>1 in Mount Hutton</li><li>1 in Wangi Wangi</li><li>1 in Booragul</li><li>1 in Edgeworth</li><li>1 in Windale</li><li>1 in Blackalls Park</li></ul></p>
<p>3 are from Maitland LGA:<ul><li>1 in Metford</li><li>1 in Ashtonfield</li><li>1 in Green Hills</li></ul></p>
<p>2 are from Cessnock LGA:<ul><li>1 in North Rothbury</li><li>1 in Weston</li></ul></p>
<p>1 is from Port Stephens LGA:<ul><li>1 in Tanilba Bay</li></ul></p>  

<h3>21 September</h3>
<p>8 are from Lake Macquarie LGA:<ul><li>3 in Mount Hutton</li><li>3 in Toronto</li><li>1 in Booragul</li><li>1 in Coal Point</li></ul></p>
<p>5 are from Newcastle LGA:<ul><li>3 in Tarro</li><li>1 in Mayfield</li><li>1 in Jesmond</li></ul></p>
<p>2 are from Maitland LGA:<ul><li>1 in Metford</li><li>1 in Aberglasslyn</li></ul></p>
<p>1 is from Cessnock LGA:<ul><li>1 in Greta</li></ul></p>
<p>1 is from Muswellbrook LGA:<ul><li>1 in Muswellbrook</li></ul></p>    
<p>1 is from Glen Innes Severn LGA:<ul><li>1 in Glen Innes</li></ul></p>

<h3>20 September</h3>
<p>11 are from Newcastle LGA:<ul><li>3 in Shortland</li><li>2 in Newcastle East</li><li>1 in Elermore Vale</li><li>1 in Wallsend</li><li>1 in Bar Beach</li><li>1 in Waratah</li><li>1 in Birmingham Gardens</li><li>1 in Carrington</li></ul></p>
<p>7 are from Lake Macquarie LGA:<ul><li>2 in Morisset</li><li>2 in Edgeworth</li><li>1 in Arcadia Vale</li><li>1 in Toronto</li><li>1 in Dora Creek</li></ul></p>
<p>3 are from Maitland LGA:<ul><li>1 in Rutherford</li><li>1 in East Maitland</li><li>1 in Thornton</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>2 in Tanilba Bay</li></ul></p>
<p>1 is from Tamworth LGA:<ul><li>1 in Tamworth</li></ul></p>

<h3>19 September</h3>
<p>9 are from Newcastle LGA:<ul><li>4 in Maryville</li><li>2 in Merewether</li><li>1 in Newcastle East</li><li>1 in New Lambton</li><li>1 in Tarro</li></ul></p>
<p>3 are from Lake Macquarie LGA:<ul><li>1 in Dora Creek</li><li>1 in Mount Hutton</li><li>1 in West Wallsend</li></ul></p>
<p>1 is from Maitland LGA:<ul><li>1 in Metford</li></ul></p>

<h3>18 September</h3>
<p>16 are from Lake Macquarie LGA:<ul><li>4 in West Wallsend</li><li>3 in Morisset</li><li>2 in Barnsley</li><li>1 in Arcadia Vale</li><li>1 in Belmont North</li><li>1 in Booragul</li><li>1 in Dudley</li><li>1 in Mount Hutton</li><li>1 in Rathmines</li><li>1 in Warners Bay</li></ul></p>
<p>7 are from Newcastle LGA:<ul><li>1 in Elermore Vale</li><li>1 in Lambton</li><li>1 in Maryville</li><li>1 in Mayfield</li><li>1 in New Lambton</li><li>1 in Shortland</li><li>1 in Waratah</li></ul></p>
<p>5 are from Maitland LGA:<ul><li>3 in Rutherford</li><li>1 in East Maitland</li><li>1 in South Maitland</li></ul></p>
<p>1 is from Cessnock LGA:<ul><li>1 in Abermain</li></ul></p>
<p>1 is from Port Stephens LGA:<ul><li>1 in Anna Bay</li></ul></p>

<h3>17 September</h3>
<p>10 are from Newcastle LGA:<ul><li>3 in Wallsend</li><li>3 in Elermore Vale</li><li>1 in Mayfield</li><li>1 in North Lambton</li><li>1 in Bar Beach</li><li>1 in Mayfield East</li></ul></p>
<p>8 are from Lake Macquarie LGA:<ul><li>2 in Toronto</li><li>1 in Wangi Wangi</li><li>1 in Balcolyn</li><li>1 in Mount Hutton</li><li>1 in Edgeworth</li><li>1 in Glendale</li><li>1 in Belmont South</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>1 in Nelson Bay</li><li>1 in Tanilba Bay</li></ul></p>
<p>2 are from Singleton LGA:<ul><li>2 in Singleton</li></ul></p>
<p>1 is from Maitland LGA:<ul><li>1 in Rutherford</li></ul></p>
<p>1 is from Glen Innes Severn LGA:<ul><li>1 in Glen Innes</li></ul></p>

<h3>16 September</h3>
<p>6 are from Lake Macquarie LGA:<ul><li>2 in Wangi Wangi</li><li>1 in Arcadia Vale</li><li>1 in Charlestown</li><li>1 in Glendale</li><li>1 in West Wallsend</li></ul></p>
<p>5 are from Newcastle LGA:<ul><li>2 in Mayfield</li><li>1 in Hamilton South</li><li>1 in New Lambton</li><li>1 in Elermore Vale</li></ul></p>
<p>3 are from Cessnock LGA:<ul><li>2 in Cliftleigh</li><li>1 in Greta</li></ul></p>
<p>1 is from Port Stephens LGA:<ul><li>1 in Boat Harbour</li></ul></p>
<p>1 is from Gunnedah LGA:<ul><li>1 in Gunnedah</li></ul></p>

<h3>15 September</h3>
<p>8 are from Lake Macquarie LGA:<ul><li>2 in Charlestown</li><li>2 in Mount Hutton</li><li>1 in Cardiff South</li><li>1 in Windale</li><li>1 in Fishing Point</li><li>1 in Wyee Point</li></ul></p>
<p>8 are from Newcastle LGA:<ul><li>5 in Mayfield</li><li>1 in Hamilton South</li><li>1 in Elermore Vale</li><li>1 in Beresfield</li></ul></p>
<p>6 are from Maitland LGA:<ul><li>6 in Tenambit</li></ul></p>
<p>3 are from Cessnock LGA:<ul><li>2 in Cessnock</li><li>1 in Cliftleigh</li></ul></p>
<p>2 are from Port Stephens LGA:<ul><li>1 in Shoal Bay</li><li>1 in Fingal Bay</li></ul></p>

<h3>14 September</h3>
<p>7 are from Newcastle LGA:<ul><li>5 in Mayfield</li><li>1 in North Lambton</li><li>1 in Wallsend</li></ul></p>
<p>3 are from Lake Macquarie LGA:<ul><li>2 in Wangi Wangi</li><li>1 in Wyee Point</li></ul></p>
<p>2 are from Singleton LGA:<ul><li>2 in Singleton</li></ul></p>
<p>1 is from Maitland LGA:<ul><li>1 in Tenambit</li></ul></p>
<p>1 is from Port Stephens LGA:<ul><li>1 in Raymond Terrace</li></ul></p>

<h3>12 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
   <tr>
      <td>Newcastle</td>
      <td>Hamilton</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Mayfield</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Wallsend</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Balcolyn</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Fishing Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Soldiers Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
    <tr>
      <td>Mid Coast</td>
      <td>Booral</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
  </tbody>
</table>

<h3>11 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Lake Macquarie</td>
      <td>Marmong Point</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Marmong Point</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Fishing Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Morisset</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Newcastle East</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Newcastle East</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Kotara</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Known case</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>New Lambton</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Fern Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Household contact</td>
    </tr>
  </tbody>
</table>

<h3>10 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Port Stephens</td>
      <td>Fingal Bay</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Family member</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Fingal Bay</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Family member</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Anna Bay</td>
      <td class="warning"><i class="icon question"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Fern Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Visitor from Sydney</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Heatherbrae</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Motto Farm</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Family member</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Shoal Bay</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Solider Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Murrays Beach</td>
      <td class="warning"><i class="icon question"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Singleton</td>
      <td>Singleton</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
  </tbody>
</table>

<h3>9 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Adamstown Heights</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Adamstown Heights</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>North Lambton</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Workplace expoosure</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Kotara</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Catherine Hill Bay</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Dora Creek</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Community member</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Woodrising</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Cessnock</td>
      <td>Heddon Greta</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Upper Hunter mine</td>
    </tr>
  </tbody>
</table>

<h3>8 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Wyee Point</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Swansea Heads</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Houeshold contact</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Salamander Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Shoal Bay</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Shortland</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Dubbo exposure</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Tarro</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Thornton household cluster</td>
    </tr>
    <tr>
      <td>Dungog</td>
      <td>Dungog</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
  </tbody>
</table>

<h3>7 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Lake Macquarie</td>
      <td>Hillsborough</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Cooranbong</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Close contact</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Shoal Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Shoal Bay cluster</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Shoal Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Shoal Bay cluster</td>
    </tr>
    <tr>
      <td>Maitland</td>
      <td>Thornton</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="positive">Household contact</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>Elermore Vale</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Mid-Coast</td>
      <td>Booral</td>
      <td class="positive"><i class="icon checkmark"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
  </tbody>
</table>

<h3>6 September</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>LGA</th>
    <th>Suburb</th>
    <th>In isolation?</th>
    <th>Link</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Lake Macquarie</td>
      <td>Cardiff</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Worksite exposure</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Macquarie Hills</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="negative">Unlinked</td>
    </tr>
    <tr>
      <td>Lake Macquarie</td>
      <td>Toronto</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Family member</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>Nelson Bay</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Shoal Bay cluster</td>
    </tr>
    <tr>
      <td>Maitland</td>
      <td>Chisolm</td>
      <td class="negative"><i class="icon times"></i></td>
      <td class="positive">Workplace exposure</td>
    </tr>
  </tbody>
</table>


<script>
        $('.ui.accordion').accordion();
</script>
{% endblock %}
