{% extends "frlsim/base.html" %}

{% block head %}
<title>Exposure Sites | Hunter COVID-19 Data</title>
<meta property="og:title" content="Exposure Sites | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/exposure-sites/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
  <div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Exposure Sites</div>
</div>

<h1>Exposure Sites</h1>
<p><i>Last updated: Monday 6 September, 2021 at 18:30</i></p>

<table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="sorted descending">Date added</th>
      <th class="">LGA</th>
      <th>Suburb</th>
      <th>Location</th>
      <th>Date & Time</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 Sep 2021</td>
      <td>Port Stephens</td>
      <td>Shoal Bay</td>
      <td>Cellerbrations Bottle Shop</td>
      <td>Monday 30 Aug, 4:40-4:50 PM<br>Wednesday 1 Sep, 3:05-3:10 PM</td>
      <td>Casual <i class="info circle icon"></i></td>
    </tr>
  </tbody>
</table>
{% endblock %}
