{% extends "frlsim/base.html" %}

{% block head %}
<title>Hunter COVID-19 Data</title>
<meta property="og:title" content="Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<br>
<h1>Hunter Valley COVID-19 Data</h1>

<div class="ui yellow message">
  <div class="header">
    Daily updates have ceased
  </div>
  <p><a href="https://twitter.com/_BryceHam/status/1455359989178978307">Daily updates to the Hunter Valley COVID-19 Data website ceased on 8 November 2021 as I no longer have the time to actively maintain it.</a> I still aim to keep this updated about once a week so that the general trend can still be tracked.</p>
</div>

<h2>Daily Briefing</h2>
<p><i>Last updated: Thursday 16 December, 2021 at 16:15</i></p>
<ul>
  <li>There were <strong>633</strong> new cases of COVID-19 in Hunter New England in the 24 hours to 8pm last night.</li>
  <li>There are now <strong>1452</strong> active cases in the Local Health District.</li>
  <li><strong>9</strong> of these cases are in hospital, this is an increase of <strong>2</strong> since yesterday.</li>
  <li><strong>2</strong> of these cases are in ICU, this is a decrease of <strong>1</strong> since yesterday.</li>
</ul>

<div class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    LGA breakdown
  </div>
  <div class="content"><ul>
        <li><p class="transition hidden">267 are from Newcastle LGA</p></li>
        <li><p class="transition hidden">213 are from Lake Macquarie LGA</p></li>
        <li><p class="transition hidden">45 are from Maitland LGA</p></li>
        <li><p class="transition hidden">40 are from Port Stephens LGA</p></li>
        <li><p class="transition hidden">30 are from Cessnock LGA</p></li>
        <li><p class="transition hidden">8 are from Mid-Coast LGA</p></li>
        <li><p class="transition hidden">8 are from Singleton LGA</p></li>
        <li><p class="transition hidden">7 are from Muswellbrook LGA</p></li>
        <li><p class="transition hidden">4 are from Armidale Regional LGA</p></li>
        <li><p class="transition hidden">4 are from Upper Hunter LGA</p></li>
        <li><p class="transition hidden">3 are from Tamworth Regional LGA</p></li>
        <li><p class="transition hidden">1 is from Dungog LGA</p></li>
        <li><p class="transition hidden">1 is from Gunnedah LGA</p></li>
        <li><p class="transition hidden">1 is from Inverell LGA</p></li>
        <li><p class="transition hidden">1 is from Moree Plains LGA</p></li>
  </ul></div>
</div>

<!-- ▴ ▾ -->

<h2>Hunter Delta Outbreak Overview</h2>
<p><i>Data may include cases in New England where unable to seperate Hunter Valley from Hunter New England LHD data.</i></p>
<table class="ui celled unstackable table">
  <thead>
    <tr><th>Category</th>
    <th>Total</th>
    <th>Change</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Total Cases since 5 Aug</td>
      <td>5,765</td>
      <td class="negative">▴633</td>
    </tr>
    <tr>
      <td>Active Cases</td>
      <td>1,452</td>
      <td class="negative">▴625</td>
    </tr>
    <tr>
      <td>Recovered Cases</td>
      <td>4,313</td>
      <td class="positive">▴8</td>
    </tr>
    <tr>
      <td>Hospitalised Cases</td>
      <td>9</td>
      <td class="negative">▴2</td>
    </tr>
    <tr>
      <td>Cases in ICU</td>
      <td>2</td>
      <td class="positive">▾1</td>
    </tr>
    <tr>
      <td>Deaths since 5 Aug</td>
      <td>12</td>
      <td class="positive">0</td>
    </tr>
  </tbody>
</table>

<a href="/cases/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  More case data
</button></a>
<!--
<h2>Vaccination</h2>
<p><i>Hunter Valley vaccination data is only released weekly.</i></p>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>Date</th>
    <th>City (first / second dose)</th>
    <th>Valley (first / second dose)</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>18 Oct</td>
      <td>94.8% / <strong>77.0%</strong></td>
      <td>>95.0% / <strong>75.3%</strong></td>
    </tr>
    <tr>
      <td>11 Oct</td>
      <td>92.3% / <strong>67.9%</strong></td>
      <td>92.8% / <strong>64.4%</strong></td>
    </tr>
    <tr>
      <td>4 Oct</td>
      <td>88.2% / <strong>60.1%</strong></td>
      <td>87.8% / <strong>55.7%</strong></td>
    </tr>
    <tr>
      <td>27 Sep</td>
      <td>83.1% / <strong>53.6%</strong></td>
      <td>81.9% / <strong>49.1%</strong></td>
    </tr>
    <tr>
      <td>20 Sep</td>
      <td>77.5% / <strong>48.3%</strong></td>
      <td>75.7% / <strong>43.3%</strong></td>
    </tr>
    <tr>
      <td>13 Sep</td>
      <td>72.4% / <strong>43.1%</strong></td>
      <td>69.8% / <strong>38.6%</strong></td>
    </tr>
    <tr>
      <td>6 Sep</td>
      <td>66.9% / <strong>38.6%</strong></td>
      <td>64.0% / <strong>34.2%</strong></td>
    </tr>
    <tr>
      <td>30 Aug</td>
      <td>61.7% / <strong>34.0%</strong></td>
      <td>57.9% / <strong>29.7%</strong></td>
    </tr>
    <tr>
      <td>23 Aug</td>
      <td>55.9% / <strong>29.7%</strong></td>
      <td>51.4% / <strong>25.4%</strong></td>
    </tr>
    <tr>
      <td>16 Aug</td>
      <td>50.0% / <strong>24.8%</strong></td>
      <td>45.6% / <strong>21.3%</strong></td>
    </tr>
    <tr>
      <td>9 Aug</td>
      <td>44.4% / <strong>20.3%</strong></td>
      <td>40.6% / <strong>17.0%</strong></td>
    </tr>
    <tr>
      <td>2 Aug</td>
      <td>41.3% / <strong>17.7%</strong></td>
      <td>37.5% / <strong>14.1%</strong></td>
    </tr>
  </tbody>
</table>

<a href="/vaccination/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  More vaccination data
</button></a>
-->
<h2>Testing</h2>
<p><i>Testing data is updated by laboratories in batches so daily figures are not final.</i></p>
<div class="flourish-embed flourish-chart" data-src="visualisation/7198051"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<a href="/testing/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  More testing data
</button></a>

<h2>Explore data in each Hunter LGA</h2>
<a href="lgas/lakemacquarie"><button style="margin-bottom: 0.25em;" class="ui fluid red button">Lake Macquarie</button></a>
<a href="lgas/newcastle"><button style="margin-bottom: 0.25em;" class="ui fluid orange button">Newcastle</button></a>
<a href="lgas/midcoast"><button style="margin-bottom: 0.25em;" class="ui fluid yellow button">Mid-Coast</button></a>
<a href="lgas/maitland"><button style="margin-bottom: 0.25em;" class="ui fluid olive button">Maitland</button></a>
<a href="lgas/portstephens"><button style="margin-bottom: 0.25em;" class="ui fluid green button">Port Stephens</button></a>
<a href="lgas/cessnock"><button style="margin-bottom: 0.25em;" class="ui fluid teal button">Cessnock</button></a>
<a href="lgas/singleton"><button style="margin-bottom: 0.25em;" class="ui fluid blue button">Singleton</button></a>
<a href="lgas/muswellbrook"><button style="margin-bottom: 0.25em;" class="ui fluid violet button">Muswellbrook</button></a>
<a href="lgas/upperhunter"><button style="margin-bottom: 0.25em;" class="ui fluid purple button">Upper Hunter Shire</button></a>
<a href="lgas/dungog"><button style="margin-bottom: 0.25em;" class="ui fluid pink button">Dungog</button></a>

<script>
        $('.ui.accordion').accordion();
</script>
{% endblock %}