{% extends "frlsim/base.html" %}

{% block head %}
<title>LGAs | Hunter COVID-19 Data</title>
<meta property="og:title" content="LGAs | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/lgas/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">LGAs</div>
</div>

<h1>Local Government Area Breakdowns</h1>

<div class="flourish-embed flourish-chart" data-src="visualisation/7488104"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<h2>LGA Pages</h2>
<a href="lakemacquarie"><button style="margin-bottom: 0.25em;" class="ui fluid red button">Lake Macquarie</button></a>
<a href="newcastle"><button style="margin-bottom: 0.25em;" class="ui fluid orange button">Newcastle</button></a>
<a href="midcoast"><button style="margin-bottom: 0.25em;" class="ui fluid yellow button">Mid-Coast</button></a>
<a href="maitland"><button style="margin-bottom: 0.25em;" class="ui fluid olive button">Maitland</button></a>
<a href="portstephens"><button style="margin-bottom: 0.25em;" class="ui fluid green button">Port Stephens</button></a>
<a href="cessnock"><button style="margin-bottom: 0.25em;" class="ui fluid teal button">Cessnock</button></a>
<a href="singleton"><button style="margin-bottom: 0.25em;" class="ui fluid blue button">Singleton</button></a>
<a href="muswellbrook"><button style="margin-bottom: 0.25em;" class="ui fluid violet button">Muswellbrook</button></a>
<a href="upperhunter"><button style="margin-bottom: 0.25em;" class="ui fluid purple button">Upper Hunter Shire</button></a>
<a href="dungog"><button style="margin-bottom: 0.25em;" class="ui fluid pink button">Dungog</button></a>

<h2>Maps</h2>

<h3>Cases</h3>
<div class="flourish-embed flourish-map" data-src="visualisation/7291311"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<h3>Testing</h3>
<div class="flourish-embed flourish-map" data-src="visualisation/7304289"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<h3>Vaccination</h3>
<div class="flourish-embed flourish-map" data-src="visualisation/7291660"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
{% endblock %}

