{% extends "frlsim/base.html" %}

{% block head %}
<title>Testing | Hunter COVID-19 Data</title>
<meta property="og:title" content="Testing | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/testing/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Testing</div>
</div>

<h1>Testing</h1>
<p><i>Last updated: Monday 20 December 2021 at 20:10</i></p>

<div class="flourish-embed flourish-chart" data-src="visualisation/7198051"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<div class="flourish-embed flourish-chart" data-src="visualisation/8086678"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<!-- TODO: re add test positive graph with updated data
<h3>Test positive rate</h3>
<p><i>An increasing positive rate is a possible indicator of losing control of an outbreak.</i></p>
<div class="flourish-embed flourish-chart" data-src="visualisation/7557645"><script src="https://public.flourish.studio/resources/embed.js"></script></div>-->

<h3>By LGA</h3>
<div class="flourish-embed flourish-chart" data-src="visualisation/7346771"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<table class="ui striped compact celled unstackable table">
  <thead>
    <tr>
        <th>LGA</th>
        <th>Population</th>
        <th>Tests in last 2 weeks</th>
        <th>Rate per 1k population</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lake Macquarie</td>
      <td>208,858</td>
      <td>34,843</td>
      <td>167</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>174,423</td>
      <td>39,250</td>
      <td>225</td>
    </tr>
    <tr>
      <td>Mid-Coast</td>
      <td>93,298</td>
      <td>6,826</td>
      <td>73</td>
    </tr>
    <tr>
      <td>Maitland</td>
      <td>85,757</td>
      <td>17,389</td>
      <td>203</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>79,640</td>
      <td>9,942</td>
      <td>125</td>
    </tr>
    <tr>
      <td>Cessnock</td>
      <td>59,905</td>
      <td>5,374</td>
      <td>90</td>
    </tr>
    <tr>
      <td>Singleton</td>
      <td>25,800</td>
      <td>3,716</td>
      <td>144</td>
    </tr>   
    <tr>
      <td>Muswellbrook</td>
      <td>18,006</td>
      <td>1,037</td>
      <td>58</td>
    </tr>
    <tr>
      <td>Upper Hunter Shire</td>
      <td>15,185</td>
      <td>992</td>
      <td>65</td>
    </tr>
    <tr>
      <td>Dungog</td>
      <td>8,874</td>
      <td>645</td>
      <td>73</td>
    </tr> 
  </tbody>
  <tfoot>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong>769,746</strong></td>
      <td><strong>120,014</strong></td>
      <td><strong>156</strong></td>  
    </tr> 
  </tfoot>
</table>

{% endblock %}

