{% extends "frlsim/base.html" %}

{% block head %}
<title>Vaccination | Hunter COVID-19 Data</title>
<meta property="og:title" content="Vaccination | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/vaccination/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Vaccination</div>
</div>

<h1>Vaccination</h1>
<p><i>Last updated: Monday 18 October, 2021 at 18:10</i></p>
<p><i>Hunter Valley vaccination data is only released weekly.</i></p>

<h3>By LGA</h3>
<p><i>Rates are no longer reported once they exceed 95%.</i></p>
<div class="flourish-embed flourish-chart" data-src="visualisation/7255734"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

<table class="ui striped compact celled unstackable table">
  <thead>
    <tr>
        <th>LGA</th>
        <th>Population 15+</th>
        <th>First dose %</th>
        <th>Second dose %</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lake Macquarie</td>
      <td>167,047</td>
      <td>>95.0%</td>
      <td>78.7%</td>
    </tr>
    <tr>
      <td>Newcastle</td>
      <td>137,452</td>
      <td>91.4%</td>
      <td>74.9%</td>
    </tr>
    <tr>
      <td>Mid-Coast</td>
      <td>79,221</td>
      <td>94.9%</td>
      <td>73.8%</td>
    </tr>
    <tr>
      <td>Maitland</td>
      <td>66,688</td>
      <td>>95.0%</td>
      <td>75.4%</td>
    </tr>
    <tr>
      <td>Port Stephens</td>
      <td>60,306</td>
      <td>>95.0%</td>
      <td>79.4%</td>
    </tr>
    <tr>
      <td>Cessnock</td>
      <td>47,375</td>
      <td>92.4%</td>
      <td>70.1%</td>
    </tr>
    <tr>
      <td>Singleton</td>
      <td>18,334</td>
      <td>>95.0%</td>
      <td>72.7%</td>
    </tr>   
    <tr>
      <td>Muswellbrook</td>
      <td>12,673</td>
      <td>92.7%</td>
      <td>68.6%</td>
    </tr>
    <tr>
      <td>Upper Hunter Shire</td>
      <td>11,302</td>
      <td>>95.0%</td>
      <td>84.8%</td>
    </tr>
    <tr>
      <td>Dungog</td>
      <td>7,623</td>
      <td>>95.0%</td>
      <td>76.1%</td>
    </tr> 
  </tbody>
</table>

<h3>By SA4</h3>
<table class="ui striped compact celled unstackable table">
  <thead>
    <tr><th>Date</th>
    <th>City (first / second dose)</th>
    <th>Valley (first / second dose)</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>18 Oct</td>
      <td>94.8% / <strong>77.0%</strong></td>
      <td>>95.0% / <strong>75.3%</strong></td>
    </tr>
    <tr>
      <td>11 Oct</td>
      <td>92.3% / <strong>67.9%</strong></td>
      <td>92.8% / <strong>64.4%</strong></td>
    </tr>
    <tr>
      <td>4 Oct</td>
      <td>88.2% / <strong>60.1%</strong></td>
      <td>87.8% / <strong>55.7%</strong></td>
    </tr>
    <tr>
      <td>27 Sep</td>
      <td>83.1% / <strong>53.6%</strong></td>
      <td>81.9% / <strong>49.1%</strong></td>
    </tr>
    <tr>
      <td>20 Sep</td>
      <td>77.5% / <strong>48.3%</strong></td>
      <td>75.7% / <strong>43.3%</strong></td>
    </tr>
    <tr>
      <td>13 Sep</td>
      <td>72.4% / <strong>43.1%</strong></td>
      <td>69.8% / <strong>38.6%</strong></td>
    </tr>
    <tr>
      <td>6 Sep</td>
      <td>66.9% / <strong>38.6%</strong></td>
      <td>64.0% / <strong>34.2%</strong></td>
    </tr>
    <tr>
      <td>30 Aug</td>
      <td>61.7% / <strong>34.0%</strong></td>
      <td>57.9% / <strong>29.7%</strong></td>
    </tr>
    <tr>
      <td>23 Aug</td>
      <td>55.9% / <strong>29.7%</strong></td>
      <td>51.4% / <strong>25.4%</strong></td>
    </tr>
    <tr>
      <td>16 Aug</td>
      <td>50.0% / <strong>24.8%</strong></td>
      <td>45.6% / <strong>21.3%</strong></td>
    </tr>
    <tr>
      <td>9 Aug</td>
      <td>44.4% / <strong>20.3%</strong></td>
      <td>40.6% / <strong>17.0%</strong></td>
    </tr>
    <tr>
      <td>2 Aug</td>
      <td>41.3% / <strong>17.7%</strong></td>
      <td>37.5% / <strong>14.1%</strong></td>
    </tr>
  </tbody>
</table>
{% endblock %}

