{% extends "frlsim/base.html" %}

{% block head %}
<title>Port Stephens LGA | Hunter COVID-19 Data</title>
<meta property="og:title" content="Port Stephens LGA | Hunter COVID-19 Data"/>
<meta property="og:url" content="https://covid.bryce.eco/lgas/portstephens/"/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/lgas/">LGAs</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Port Stephens</div>
</div>

<h1>Port Stephens LGA</h1>
<p><strong>Population:</strong> 79,640</p>

<h2>Cases</h2>
<p><i>Case data by LGA only available from 9 August onwards.</i></p>
<canvas id="case-chart"></canvas>

<h2>Testing</h2>
<h4>7-day moving average of daily COVID-19 tests</p>
<canvas id="testing-chart"></canvas>

<h4>7-day moving average of daily COVID-19 tests per 1,000 population</h4>
<canvas id="adjusted-testing-chart"></canvas>

<script>
function makeChart(dataSpreadsheet) {
  var dates = dataSpreadsheet.map(function(d) {
    return d.Date;
  });
  var lgaData = dataSpreadsheet.map(function(d) {
    return d.PortStephens;
  });

  var testingChart = new Chart('testing-chart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: false,
        position: 'bottom'
      },
      title: {
        display: false
      },
      tooltips: {
        mode: 'index'
      },
      scales: {
        x: {
            ticks: {
                maxTicksLimit: 10
            }
        }
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: lgaData,
          label: "Tests",
          fill: false,
          lineTension: 0.1,
          borderColor: "blue", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "blue",
          pointHoverBorderColor: "blue",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });
}
    
function makeAdjustedTestingChart(dataSpreadsheet) {
  var dates = dataSpreadsheet.map(function(d) {
    return d.Date;
  });
  var lgaData = dataSpreadsheet.map(function(d) {
    return d.PortStephens;
  });
  var hunterData = dataSpreadsheet.map(function(d) {
    return d.Hunter;
  });

  var testingChart = new Chart('adjusted-testing-chart', {
    type: "line",
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true,
        position: 'bottom'
      },
      title: {
        display: false
      },
      tooltips: {
        mode: 'index'
      },
      scales: {
        x: {
            ticks: {
                maxTicksLimit: 10
            }
        }
      }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: lgaData,
          label: "Port Stephens",
          fill: false,
          lineTension: 0.1,
          borderColor: "blue", // The main line color
          borderCapStyle: 'square',
          borderDash: [], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "blue",
          pointHoverBorderColor: "blue",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        },
        {
          data: hunterData,
          label: "Hunter Average",
          fill: false,
          lineTension: 0.1,
          borderColor: "grey", // The main line color
          borderCapStyle: 'square',
          borderDash: [5,15], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "grey",
          pointHoverBorderColor: "grey",
          pointHoverBorderWidth: 2,
          pointRadius: 0
        }
      ]
    }
  });
}  

function makeCasesChart(dataSpreadsheet) {
  var dates = dataSpreadsheet.map(function(d) {
    return d.Date;
  });
  var lgaData = dataSpreadsheet.map(function(d) {
    return d.PortStephens;
  });
  var sumData = dataSpreadsheet.map(function(d) {
    return d.PortStephensSum;
  });

  var casesChart = new Chart('case-chart', {
    type: 'bar',
    options: {
      maintainAspectRatio: true,
      legend: {
        display: true,
        position: 'bottom'
      },
      title: {
        display: false
      },
      tooltips: {
        mode: 'index'
      },
      scales: {
            yAxes: [{
                id: 'yLeft',
                type: 'linear',
                position: 'left',
                title: {
                    display: true,
                    text: 'New cases'
                },
                ticks: {
                    beginAtZero: true,
                    maxTicksLimit: 9
                }
            },
            {
                id: 'yRight',
                type: 'linear',
                position: 'right',
                title: {
                    display: true,
                    text: 'Total cases'
                },
                ticks: {
                    beginAtZero: true,
                    maxTicksLimit: 9
                },
                gridLines: {
                    drawOnChartArea	: false,
                }
            }]
        }
    },
    data: {
      labels: dates,
      datasets: [
        {
          data: sumData,
          type: 'line',
          label: "Total cases",
          fill: false,
          lineTension: 0.1,
          borderColor: "red", // The main line color
          borderCapStyle: 'square',
          borderDash: [0,0], // try [5, 15] for instance
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          borderWidth: 2,
          pointHoverRadius: 8,
          pointHoverBackgroundColor: "red",
          pointHoverBorderColor: "red",
          pointHoverBorderWidth: 2,
          pointRadius: 2,
          yAxisID: 'yRight'
        },
        {
          data: lgaData,
          label: "New cases",
          backgroundColor: "blue",
          yAxisID: 'yLeft'
        }
      ]
    }
  });
}

// Request data using D3
d3
  .csv("https://covid.bryce.eco/data/testing.csv")
  .then(makeChart);

d3
  .csv("https://covid.bryce.eco/data/adjustedTesting.csv")
  .then(makeAdjustedTestingChart);
    
d3
  .csv("https://covid.bryce.eco/data/cases.csv")
  .then(makeCasesChart);
  </script>

{% endblock %}